<div class="question-number">Вопрос №1 из 15</div>
<h1 class="text-[45px] text-center leading-[52px]">Какой у вас опыт холодных B2B-продаж?</h1>
<div class="w-full h-full lg:w-[720px] mt-[16px] mb-[24px] overflow-hidden">
    <mat-radio-group formControlName="b2bExperience" class="flex flex-col">
        <mat-radio-button class="mb-2" value="required">Обязательно</mat-radio-button>
        <mat-radio-button class="mb-2" value="preferred">Желательно</mat-radio-button>
        <mat-radio-button class="mb-2" value="not-applicable">Вопрос не подходит</mat-radio-button>
        <mat-radio-button class="mb-2" value="required">Обязательно</mat-radio-button>
        <mat-radio-button class="mb-2" value="preferred">Желательно</mat-radio-button>
        <mat-radio-button class="mb-2" value="not-applicable">Вопрос не подходит</mat-radio-button>
    </mat-radio-group>
</div>

<div class="flex justify-center lg:mb-[40px]">
  <div class="flex flex-col items-stretch justify-center max-w-44 gap-4 lg:flex-row lg:max-w-max">
    <button mat-flat-button class="btn-secondary flex justify-center">Вернуться назад</button>
    <button mat-flat-button class="btn-primary" (click)="openCallHrModal()">Продолжить</button>
  </div>
</div>



