<div class="bg-[white] overflow-y-auto w-full h-full rounded-[28px] lg:max-w-[748px] lg:max-h-[800px]">
  <div class="flex flex-col justify-center items-stretch py-16 px-2 lg:p-16">
    <h2 class="text-[32px] text-center leading-[40px] m-0 p-0">Сменить пароль</h2>

    <div class="flex justify-start items-center flex-col grow-0 shrink-0 basis-auto mt-6">
      <form [formGroup]="changePasswordForm" class="flex justify-center items-stretch flex-col w-full box-border grow-0 shrink-0 basis-auto">
        <mat-form-field appearance="outline">
          <mat-label>Текущий пароль</mat-label>
          <input matInput type="password" formControlName="currentPassword">
          @if (currentPasswordError) {
            <p class="error-text">{{ currentPasswordError }}</p>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Новый пароль</mat-label>
          <input matInput type="password" formControlName="newPassword">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Подтвердите пароль</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
        </mat-form-field>
      </form>

      <div class="flex flex-col grow-0 shrink-0 items-stretch justify-center basis-auto max-w-44 mt-6 gap-4 lg:flex-row-reverse lg:max-w-max">
        <button mat-flat-button class="btn-primary" (click)="savePassword()">Сохранить</button>
        <button mat-flat-button class="btn-secondary" (click)="closeModal()">Отменить</button>
      </div>
    </div>
  </div>
</div>
