<label class="block relative h-14" [class.skip-effects]="!!skipEffects">
  @if (mask && prefix) {
    <input
      placeholder="s"
      [mask]="mask"
      [prefix]="prefix"
      [type]="type"
      (blur)="onTouched($event)"
      (input)="changeInputValue($event)"
      (change)="changeInputValue($event)"
      [value]="value"
      [class]="class + ' h-14'"
      [disabled]="!!disabled"
      [class.input-error]="showError">
  } @else if (mask && !prefix) {
    <input
      placeholder="s"
      [mask]="mask"
      [type]="type"
      (blur)="onTouched($event)"
      (input)="changeInputValue($event)"
      (change)="changeInputValue($event)"
      [value]="value"
      [class]="class + ' h-14'"
      [disabled]="!!disabled"
      [class.input-error]="showError">
  } @else {
    <input
      placeholder="s"
      [type]="type"
      (blur)="onTouched($event)"
      (input)="changeInputValue($event)"
      (change)="changeInputValue($event)"
      [value]="value"
      [class]="class + ' h-14'"
      [disabled]="!!disabled"
      [class.input-error]="showError">
  }

    <span
      class="fake-label"
      [ngClass]="{
        '!text-[var(--error)]' : showError && !skipEffects,
        'fake-label-with-icon': showError || clear && value
      }"
    >{{ label }}</span>
  <ng-content></ng-content>
</label>
