@if (!isLoading) {
  <div class="sticky top-0 flex w-full h-[69px] px-5 py-4 justify-between items-center bg-white z-10 border-b">
    <div class="flex gap-1">
      <button mat-icon-button (click)="closeDetail()" class="btn-secondary">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <app-negotiation-status [negotiation]="negotiation" (onChange)="changeStatus($event)" />
  </div>

  <div class="flex flex-col w-full h-full px-6 py-4 gap-6">
    <div class="flex w-full px-6 py-4 gap-3 bg-[var(--background-alter)] rounded-2xl">
      <div class="flex w-[80px] h-[80px] bg-[var(--background-main)] rounded-full">
        @if (negotiation?.photo_url) {
          <img class="min-w-[80px] min-h-[80px] rounded-full" [src]="negotiation?.photo_url" alt="аватар" />
        } @else {
          <mat-icon svgIcon="no-avatar" class="!w-[80px] !h-[80px] rounded-full" />
        }
      </div>
      <div class="flex flex-col gap-2 w-full">
        <div class="flex w-full gap-4 items-center">
          <app-status-tag status="warning"> Откликнулся </app-status-tag>
          <span class="text-[11px] leading-4 font-medium text-[var(--text-alter)]">
            Отклик с карьерного сайта {{ negotiation?.negotiation_date | date: 'dd.MM.yyyy' }}
          </span>
        </div>

        <div class="flex flex-col w-full lg:flex-row">
          <div class="flex flex-col grow gap-1">
            <h4 class="text-[22px] leading-7">{{ negotiation?.fio }}</h4>
            <div class="flex flex-col flex-wrap gap-y-1 gap-x-2 lg:flex-row lg:description-dots">
              @if (negotiation?.age) {
                <span>{{ negotiation?.age }} лет</span>
              }
              @if (negotiation?.salary) {
                <span>{{ negotiation?.salary | currency: 'RUB' : 'руб.' : '1.0' }}</span>
              }
              @if (negotiation?.resume_title) {
                <span>{{ negotiation?.resume_title }}</span>
              }
              @if (negotiation?.address) {
                <span>{{ negotiation?.address }}</span>
              }
            </div>
            <div class="flex flex-col flex-wrap gap-y-1 gap-x-2 lg:flex-row lg:description-dots">
              <span>{{ negotiation?.phone }}</span>
              <span>{{ negotiation?.email }}</span>
            </div>
          </div>

          <div class="flex flex-col grow lg:justify-between lg:items-end">
            <div class="flex">
              <a mat-icon-button class="btn-primary" href="tel:{{ negotiation?.phone }}">
                <mat-icon svgIcon="call" />
              </a>
              <a mat-icon-button class="btn-primary" href="mailto:{{ negotiation?.email }}">
                <mat-icon svgIcon="mail" />
              </a>
            </div>
          </div>
        </div>

        <div class="w-full">
          @if (negotiation?.vacancy_author) {
            <button mat-button class="btn-primary" disabled>{{ negotiation?.vacancy_author }}</button>
          }
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-8">
      <div class="w-full">
        <label class="text-[16px] leading-6 font-medium">Заметка о кандидате</label>
        <app-text-editor class="w-full mt-2" [formControl]="comment"> </app-text-editor>
        <button mat-flat-button class="btn-primary mt-4" (click)="saveComment()">Сохранить</button>
      </div>
    </div>
  </div>
} @else {
  <div class="w-full h-full flex justify-center items-center">
    <app-loader></app-loader>
  </div>
}
