<div class="flex gap-2 items-center pt-2 pl-4">
  <button mat-icon-button class="btn-secondary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="text-[16px] leading-6 font-medium">Вернуться назад</span>
</div>

<div class="py-2 px-4 w-full min-h-[calc(100vh-50px)] flex flex-col overflow-auto">
    <div class="w-full flex-1 bg-white rounded-3xl p-5 shadow-md flex flex-col">
        <app-request-template 
            [requestId]="requestId"
            [formDisabled]="true"
            [vacancyDetails]="vacancyDetails"
            [companyStructure]="companyStructure"
            [city]="city"
            [user]="user"
            [users]="users">
        </app-request-template>
        @if (isLastStep && (vacancyDetails?.open_vacancies ?? 0) < 1) {
            <div class="flex justify-left items-center mt-[auto] gap-3 pt-4 shrink-0">
              <button mat-flat-button class="btn-primary" (click)="createVacancy()">
                Создать вакансию
              </button>
            </div>
          }
    </div>
</div>