
@if (isInterviewOver) {
  <app-finish></app-finish>
} @else {
  <mat-icon svgIcon="logo-hr" class="!w-[54px] !h-[64px]"> </mat-icon>
  <div class="h-[40px]"></div>
  <div class="bg-[white] w-full rounded-[28px] lg:w-[848px]">
    <div class="flex flex-col justify-center items-stretch lg:px-[64px]">
      @if (isCameraCheck) {
        <app-camera (isCameraCheck)="listenForInterviewStart($event)" ></app-camera>
      } @else {
        <app-capture-video (isInterviewOver)="listenForInterviewOver($event)"></app-capture-video>
      }
    </div>
  </div>
}