<div class="flex flex-col w-full h-full bg-white rounded-[28px] lg:w-[748px] lg:h-[380px] mt-20 overflow-hidden">
  <div class="flex flex-col h-full justify-center">
    <h1 class="text-[45px] text-center leading-[52px]">Добро пожаловать в чат по вакансии!</h1>
    <p class="text-[16px] text-center leading-[24px] mt-[12px] mb-[30px]">Информация о вакансии в процессе</p>
    <div class="justify-center text-center flex flex-row">
        <mat-checkbox (change)="checkPermission($event)" class="mt-[11px] mr-[16px]"></mat-checkbox>
        <p class="text-[16px] text-center leading-[24px] mt-[12px]">Согласен на обработку персональных данных</p>
    </div>
    <div class="flex justify-center lg:mt-[22px]">
        <div class="flex flex-col items-stretch justify-center max-w-44 gap-4 lg:flex-row-reverse lg:max-w-max">
            <button mat-flat-button [disabled]="!isPermissionChecked" [routerLink]="['/public/survey/step0', childInputId, 'questions']" class="btn-primary">Начать</button>
        </div>
    </div>
  </div>
</div>


