.survey-title {
  text-align: center;
  font-size: 45px;
  line-height: 52px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

.flame_icon {
  font-size: 150px;
  height: 150px;
  width: 150px;
}

.btn-secondary {
  margin-top: 20px;
}
