<div class="bg-white overflow-hidden w-[748px] h-[486px] rounded-[28px]">
  <div class="flex flex-col justify-center items-stretch py-64 px-2 lg:p-16">
    <div class="flex justify-center">
        <mat-icon class="flame_icon" svgIcon="flame"></mat-icon>
    </div>
    
    <p class="survey-title m-0 p-0">Поздравляем,<br />вы сгенерировали анкету!</p>
    <p class="description text-center">Это облегчит поиск достойных кандидатов для вас</p>
    

    <div class="button-group mt-4 flex flex-row justify-center space-x-4">
      <button mat-flat-button class="btn-secondary">К вакансии</button>
    </div>
  </div>
</div>
