.parent-line {
  position: relative;
}

.child-line {
  margin-bottom: 8px;
  position: absolute;
  background: linear-gradient(to right, #ff3333 0%, #ffe945 60%, #00c437 100%);
  clip-path: inset(0 0 0 0 round 100px);
}

.icon-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.overlay-icon {
  position: absolute;
  top: 21px;
  left: 51px;
  font-size: 16px;
}

.overlay-text {
  position: absolute;
  top: 49px;
  right: 5px;
}

.question_pic_container.selected {
  background: var(--background-main);
  border: none;

  p {
    color: black;
  }
}

.question_pic_container.selected:hover {
  background: var(--background-main);
}

.question_pic_container:hover {
  background: var(--background-alter);
}

.question_list_container {
  aspect-ratio: 16 / 9;
}

::-webkit-scrollbar {
  width: 24px;
}

.comment-container::-webkit-scrollbar-thumb {
  background-color: white; 
}

.ag-theme-material {
  --ag-row-border-width: 1px;
  --ag-header-cell-hover-background-color: transparent;
  --ag-background-color: var(--background-alter);
  --ag-header-background-color: var(--background-alter);
  --ag-border-radius: 16px;
}

.record-video-container {
  position: relative;
}

app-loader {
    position: absolute;
    align-items: center;
    top: 45%;
    color: var(--link-default);
    width: 4vh;
    height: 4vh;
}