<div class="w-full lg:w-[380px]">
  <label class="search-rounded-input">
    <input placeholder="Поиск сотрудника" [(ngModel)]="searchValue"
    (keyup.enter)="onSearch()">
    <button mat-icon-button (click)="onSearch()">
      <mat-icon svgIcon="search"></mat-icon>
    </button>
  </label>
</div>
<div class="w-full mt-4 bg-white rounded-3xl">
  <div class="p-6 flex justify-between items-center">
    <h1 class="text-[22px]">Сотрудники организации</h1>
    <button mat-flat-button class="btn-secondary" (click)="openAddUserModal()">
      <mat-icon>add</mat-icon>
      <span>Добавить сотрудника</span>
    </button>
  </div>
  <ag-grid-angular
    [gridOptions]="gridOptions"
    class="ag-theme-material h-[600px] w-full" />
</div>