<div class="bg-[white] overflow-y-auto w-full h-full rounded-[28px] lg:w-[950px] lg:max-h-[1200px]">
  <div class="flex flex-col justify-center items-stretch py-16 px-2 lg:p-16">
    @if (!isLoading) {
      <div class="flex flex-col items-center gap-5">
        <h1 class="text-[32px] text-center leading-[40px] m-0 p-0">
          Создание вакансии
        </h1>
        @if (requestNumber) {
          <button mat-flat-button class="btn-secondary flex flex-row-reverse" (click)="navigateToRequest()">
            <span class="mr-4">Создано из заявки №{{requestId}}</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        }
      </div>

      <div class="flex justify-start items-center flex-col grow-0 shrink-0 basis-auto mt-8">
        <form
          [formGroup]="form"
          class="flex justify-center items-stretch flex-col w-full box-border grow-0 shrink-0 basis-auto gap-4">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Название компании</mat-label>
            <input matInput formControlName="company_name" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Название вакансии</mat-label>
            <input matInput formControlName="vacancy_name" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Структура</mat-label>
            <input matInput formControlName="company_struct_name" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Подразделение</mat-label>
            <input matInput formControlName="department_name" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Штатная должность</mat-label>
            <input matInput formControlName="job_title_name" />
          </mat-form-field>
        </form>

        <div
          class="flex flex-col grow-0 shrink-0 items-stretch justify-center basis-auto max-w-44 mt-6 gap-4 lg:flex-row-reverse lg:max-w-max">
          <button mat-flat-button class="btn-primary" [disabled]="isLoading" (click)="createVacancy()">
            Создать
          </button>
          <button mat-flat-button class="btn-secondary" [disabled]="isLoading" (click)="closeModal()">Отмена</button>
        </div>
      </div>
    } @else {
      <app-loader></app-loader>
    }
  </div>
</div>
