<app-filter [opened]="toggleFilter.checked">
  <form [formGroup]="filterForm">
    <div class="flex items-center justify-between w-full pl-5 pr-4 pb-4">
      <h3 class="text-[22px] leading-7">Фильтр</h3>
      <div class="flex gap-2">
        <button mat-icon-button (click)="reset()" class="btn-secondary">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleFilter.checked = !toggleFilter.checked" class="btn-secondary">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="w-full">
      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Статус</mat-expansion-panel-header>
        <mat-chip-listbox hideSingleSelectionIndicator multiple formControlName="statuses">
          @for (status of statuses; track $index) {
            <mat-chip-option [value]="status.value">{{ status.value }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Город</mat-expansion-panel-header>
        <mat-form-field class="w-full" appearance="outline" floatLabel="always">
          <mat-label>Город</mat-label>
          <input matInput [formControl]="searchCity" />
          <mat-icon matPrefix svgIcon="search"></mat-icon>
        </mat-form-field>
        <div class="max-h-[200px] overflow-y-scroll">
          <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="city_id">
            <mat-chip-option [value]="''">Все</mat-chip-option>
            @for (city of cities; track $index) {
              <mat-chip-option [value]="city.id">{{ city.address }}</mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Создатель заявки</mat-expansion-panel-header>
        <mat-form-field class="w-full" appearance="outline" floatLabel="always">
          <mat-label>Введите имя или фамилию</mat-label>
          <input matInput [formControl]="searchRequestAuthor" />
          <mat-icon matPrefix svgIcon="search"></mat-icon>
        </mat-form-field>
        <div class="max-h-[200px] overflow-y-scroll">
          <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="author_id">
            <mat-chip-option [value]="''">Все</mat-chip-option>
            @for (requestAuthor of requestAuthors; track $index) {
              <mat-chip-option [value]="requestAuthor.id">{{ requestAuthor.fullName }}</mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>Вид подбора</mat-expansion-panel-header>
        <mat-chip-listbox hideSingleSelectionIndicator formControlName="selection_type">
          @for (selectionType of selectionTypes; track $index) {
            <mat-chip-option [value]="selectionType">{{ selectionType }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>Дата создания</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="search_period">
          @for (searchPeriodType of searchPeriodTypes; track $index) {
            <mat-chip-option [value]="searchPeriodType.value">{{ searchPeriodType.label }}</mat-chip-option>
          }
        </mat-chip-listbox>
        <mat-form-field class="w-full mt-2" appearance="outline" floatLabel="always">
          <mat-label>Введите диапазон дат</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Начало" formControlName="search_from" />
            <input matEndDate placeholder="Конец" formControlName="search_to" />
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker>
            <mat-date-range-picker-actions>
              <button mat-button matDateRangePickerCancel class="btn-primary">Сбросить</button>
              <button mat-button matDateRangePickerApply class="btn-primary">Применить</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>

          @if (filterForm.controls.search_from.hasError('matStartDateInvalid')) {
            <mat-error>Неверная дата начала</mat-error>
          }
          @if (filterForm.controls.search_to.hasError('matEndDateInvalid')) {
            <mat-error>Неверная дата окончания</mat-error>
          }
        </mat-form-field>
      </mat-expansion-panel>
    </div>
  </form>
</app-filter>

<div class="py-8 px-4 w-full h-full">
  <div class="w-full flex items-center gap-3">
    <app-search-input class="w-[380px]" placeholder="Поиск заявки" [formControl]="searchValue" (onSearch)="search()">
    </app-search-input>
    <app-filter-toggle #toggleFilter />
  </div>

  <div class="w-full mt-4 bg-white rounded-3xl">
    <div class="p-6 pb-4 flex gap-4 justify-between items-center">
      <div class="flex gap-12 items-center">
        <h1 class="text-[22px]">Заявки</h1>
        <mat-chip-listbox hideSingleSelectionIndicator [formControl]="category">
          <mat-chip-option [value]="''" [selectable]="category.value !== ''">Все</mat-chip-option>
          <mat-chip-option
            value="favorites"
            [selectable]="category.value !== 'favorites'"
            [disabled]="favoritesCount === 0">
            @if (favoritesCount > 0) {
              <span class="chip-number">{{ favoritesCount }}</span>
            }
            Избранные
          </mat-chip-option>
          <mat-chip-option [value]="'Согласована'" [selectable]="category.value !== 'Согласована'">
            Согласовано
          </mat-chip-option>
          <mat-chip-option [value]="'На согласовании'" [selectable]="category.value !== 'На согласовании'">
            На согласовании
          </mat-chip-option>
          <mat-chip-option [value]="'Не согласована'" [selectable]="category.value !== 'Не согласована'">
            Не согласовано
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div class="flex gap-4">
        <button mat-icon-button (click)="sort()" class="btn-secondary">
          <mat-icon [class.rotate-180]="!sortByDesc" class="transition-all"> filter_list </mat-icon>
        </button>
        <button mat-flat-button class="btn-secondary" [routerLink]="['..', 'create']">
          <mat-icon>add</mat-icon>
          <span>Создать заявку</span>
        </button>
      </div>
    </div>

    <div #requestContainer class="p-6 pt-4 flex flex-col gap-4 w-full overflow-y-auto">
      @for (request of requestList; track $index) {
        <div class="flex flex-col gap-2 w-full p-4 rounded-3xl bg-[var(--background-main)]">
          <div class="flex flex-col gap-1 w-full">
            <div class="flex gap-4 w-full items-center justify-between">
              <div class="flex gap-4">
                <app-status-tag
                  [matMenuTriggerFor]="statusContent"
                  class="cursor-pointer"
                  [status]="request.statusClass">
                  <span>{{ request.status }}</span>
                  <mat-icon class="!text-[16px] !w-4 !h-4">arrow_drop_down</mat-icon>
                </app-status-tag>
                <mat-menu #statusContent="matMenu">
                  @for (status of statuses; track $index) {
                    @if (request.status !== status.value && status.value !== 'Создана') {
                      <button mat-menu-item (click)="changeStatus(request.id, status.value)">
                        <app-status-tag [status]="status.className">
                          {{ status.value }}
                        </app-status-tag>
                      </button>
                    }
                  }
                </mat-menu>

                @if (request.urgency === 'Срочно') {
                  <div class="h-6 text-[var(--error-alter)]">
                    <mat-icon>alarm</mat-icon>
                  </div>
                }
              </div>
              <button mat-icon-button [matMenuTriggerFor]="optionsContent" class="request-menu-btn btn-primary">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #optionsContent="matMenu">
                <button mat-menu-item>Настройки</button>
                <button mat-menu-item>Дублировать заявку</button>
                <button mat-menu-item>Отменить</button>
              </mat-menu>
            </div>
            <div class="flex flex-col lg:flex-row justify-between gap-3 mt-1">
              <h2 class="text-[32px] leading-10 cursor-pointer" (click)="show(request.id)">{{ request.vacancy_name }}</h2>
              <span class="text-[22px] leading-7 lg:min-w-[200px] lg:text-right">
                {{ request.city }}
              </span>
            </div>
          </div>

          <div class="w-full flex flex-col gap-4">
            <div
              class="flex flex-col gap-2 lg:flex-row text-[16px] leading-6 text-[var(--text-alter)] description-dots">
              <span>{{ request.company_name }}</span>
              <span>{{ request.company_struct_name }}</span>
              <span>{{ request.chief_fio }}</span>
            </div>
            <div class="flex flex-col lg:flex-row justify-between gap-4">
              <div class="flex gap-5 flex-grow flex-shrink flex-nowrap overflow-x-auto">
                @for (stage of request.approval_stages; track $index) {
                  <div class="flex gap-3 items-center">
                    <div class="flex justify-center items-center rounded-full bg-white w-14 h-14">
                      @switch (stage.approval_status) {
                        @case ('Согласованно') {
                          <mat-icon svgIcon="check-circle"></mat-icon>
                        }
                        @case ('Не согласованно') {
                          <mat-icon svgIcon="block-circle"></mat-icon>
                        }
                        @case ('Ждет согласования') {
                          <mat-icon svgIcon="hourglass"></mat-icon>
                        }
                        @default {
                          <mat-icon svgIcon="avg-pace"></mat-icon>
                        }
                      }
                    </div>
                    <div class="flex flex-col gap-0.5 text-[16px] leading-6">
                      <span class="text-[var(--text-main)] text-nowrap">{{ stage.space_user_name }}</span>
                      <span class="text-[var(--text-alter)] text-nowrap">{{ stage.approval_status }}</span>
                    </div>
                  </div>
                }
              </div>
              @if (request.status === 'Согласована') {
                <button mat-flat-button class="btn-primary text-nowrap" (click)="publishVacancy(request.id)">Создать вакансию</button>
              }
            </div>

            <div class="flex justify-between items-center">
              <div class="flex gap-4">
                <button mat-icon-button (click)="togglePin(request.id, !request.pinned)" class="btn-primary">
                  @if (request.pinned) {
                    <mat-icon svgIcon="pin"></mat-icon>
                  } @else {
                    <mat-icon svgIcon="pin-outline"></mat-icon>
                  }
                </button>
                <button mat-icon-button (click)="toggleFavorite(request.id, !request.favorite)" class="btn-primary">
                  @if (request.favorite) {
                    <mat-icon>bookmark</mat-icon>
                  } @else {
                    <mat-icon>bookmark_outline</mat-icon>
                  }
                </button>
                <div class="relative">
                  <button
                    mat-icon-button
                    [disabled]="request.description"
                    #commentBtn
                    (click)="openComment(request.description)"
                    class="btn-primary">
                    <mat-icon svgIcon="chat-outline" />
                    <!-- <app-notification-bubble class="absolute top-0 right-0 z-[2]" [value]="6" /> -->
                  </button>
                </div>
              </div>
              <div class="text-[16px] leading-6 text-[var(--text-alter)] text-right">
                {{ request.creation_date | date: 'dd.MM.yyyy' }}
              </div>
            </div>
          </div>
        </div>
      }

      @if (!requestList.length && !isLoading) {
        <div class="w-full h-full flex items-center justify-center">
          <div class="text-center py-3">
            <h3 class="text-[22px] leading-7">Заявки не найдены</h3>
          </div>
        </div>
      }
      @if (isLoading) {
        <div class="w-full h-full flex items-center justify-center">
          <app-loader></app-loader>
        </div>
      }
    </div>
  </div>
</div>
