:host {
  @apply flex overflow-hidden;
  overflow: hidden;
}

.request-menu-btn {
  --mdc-icon-button-state-layer-size: 30px;
  --mdc-icon-button-icon-size: 24px;
}

app-filter {
  min-height: auto !important;
  max-height: none !important;
}

mat-expansion-panel .overflow-y-scroll,
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #D9D9D9 #F5F5F5;
}

mat-expansion-panel .overflow-y-scroll::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

mat-expansion-panel .overflow-y-scroll::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 2px;
}

mat-expansion-panel .overflow-y-scroll::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 2px;
}

mat-expansion-panel .overflow-y-scroll::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #BDBDBD;
}

.mat-expansion-panel-body {
  overflow: hidden !important;
}

.max-h-\[200px\] {
  max-height: 200px;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.badge {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  height: 20px;
  position: absolute;
  bottom: 35px;
  left: 435px;
  border-radius: 100px;
  background-color: #f57c00;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  color: white;
}
