<div class="min-h-[836px] my-10 mx-6 p-6 bg-white rounded-3xl relative">
    @if (isLoading) {
      <form [formGroup]="form" class="max-w-[580px] mb-[70px]">
        <mat-stepper #stepper class="!bg-transparent" (selectionChange)="onStepChange($event)">
          <mat-step>
            <h2 class="text-3xl mb-4">Общая информация</h2>
            <div class="flex flex-col gap-4">
              <app-text-input
                type="text"
                formControlName="company_name"
                label="Название компании"
              >
              </app-text-input>
  
              <app-text-input
                type="text"
                formControlName="vacancy_name"
                label="Название вакансии*"
              >
                @if (
                  form.get("vacancy_name")?.invalid &&
                  !form.get("vacancy_name")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </app-text-input>
  
              <mat-form-field appearance="outline">
                <mat-label>Структура</mat-label>
                <mat-select [formControl]="form.controls['company_struct_id']">
                  @for (item of companyStructureArray; track $index) {
                    <mat-option value="{{ item.id }}">{{ item.name }}</mat-option>
                  }
                </mat-select>
  
                @if (
                  form.get("company_struct_id")?.invalid &&
                  !form.get("company_struct_id")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Подразделение</mat-label>
                <mat-select [formControl]="form.controls['department_id']">
                  @for (item of companyDepartmentArray; track $index) {
                    <mat-option value="{{ item.id }}">{{ item.name }}</mat-option>
                  }
                </mat-select>
  
                @if (
                  form.get("department_id")?.invalid &&
                  !form.get("department_id")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Штатная должность</mat-label>
                <mat-select [formControl]="form.controls['job_title_id']">
                  @for (item of companyJobsNamesArray; track $index) {
                    <mat-option value="{{ item.id }}">{{ item.name }}</mat-option>
                  }
                </mat-select>
                @if (
                  form.get("job_title_id")?.invalid &&
                  !form.get("job_title_id")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </mat-form-field>
            </div>
          </mat-step>
  
          <mat-step>
            <h2 class="text-3xl mb-4">Местоположение и контакты</h2>
            <div class="flex flex-col gap-4">
              <mat-form-field appearance="outline">
                <mat-label>Город</mat-label>
  
                <input
                  type="text"
                  matInput
                  [formControl]="form.controls['city_id']"
                  [matAutocomplete]="auto"
                />
  
                <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="displayCityName"
                >
                  @for (item of filteredCity$ | async; track item) {
                    <mat-option [value]="item">
                      {{ item.address }}
                    </mat-option>
                  }
                </mat-autocomplete>
                @if (
                  form.get("city_id")?.invalid && !form.get("city_id")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </mat-form-field>
  
              <app-text-input
                type="text"
                formControlName="place_of_work"
                label="Адрес офиса"
              >
              </app-text-input>
  
              <app-text-input
                type="text"
                formControlName="chief_fio"
                label="ФИО непосредственного руководителя*"
              >
                @if (
                  form.get("chief_fio")?.invalid &&
                  !form.get("chief_fio")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </app-text-input>
            </div>
          </mat-step>
  
          <mat-step>
            <h2 class="text-3xl mb-4">Детали вакансии</h2>
            <div class="flex flex-col gap-4">
              <app-text-input
                type="number"
                formControlName="opened_positions"
                label="Количество вакантных позиций*"
              >
                @if (
                  form.get("opened_positions")?.invalid &&
                  !form.get("opened_positions")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </app-text-input>
  
              <mat-form-field appearance="outline">
                <mat-label>Срочность</mat-label>
                <mat-select [formControl]="form.controls['urgency']">
                  @for (urgency of urgencys; track $index) {
                    <mat-option value="{{ urgency.value }}">{{
                      urgency.name
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Тип заявки</mat-label>
                <mat-select [formControl]="form.controls['request_type']">
                  @for (request_type of request_types; track $index) {
                    <mat-option value="{{ request_type.value }}">{{
                      request_type.name
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
  
              <label>Требования, обязанности</label>
              <app-text-editor
                height="160px"
                formControlName="requirements"
              ></app-text-editor>
  
              <label>Условия</label>
  
              <mat-form-field appearance="outline">
                <mat-label>Занятость</mat-label>
                <mat-select [formControl]="form.controls['employment']">
                  @for (employment of employments; track $index) {
                    <mat-option value="{{ employment.value }}">{{
                      employment.name
                    }}</mat-option>
                  }
                </mat-select>
                @if (
                  form.get("employment")?.invalid &&
                  !form.get("employment")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Опыт работы</mat-label>
                <mat-select [formControl]="form.controls['experience']">
                  @for (experience of experiences; track $index) {
                    <mat-option value="{{ experience.value }}">{{
                      experience.name
                    }}</mat-option>
                  }
                </mat-select>
                @if (
                  form.get("experience")?.invalid &&
                  !form.get("experience")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Режим работы</mat-label>
                <mat-select [formControl]="form.controls['schedule']">
                  @for (schedule of schedules; track $index) {
                    <mat-option value="{{ schedule.value }}">{{
                      schedule.name
                    }}</mat-option>
                  }
                </mat-select>
                @if (
                  form.get("schedule")?.invalid &&
                  !form.get("schedule")?.untouched
                ) {
                  <span
                    class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center"
                  >
                    <mat-icon svgIcon="error"></mat-icon>
                  </span>
                }
              </mat-form-field>
            </div>
          </mat-step>
  
          <mat-step>
            <h2 class="text-3xl mb-4">Комментарий к заявке</h2>
            <div class="flex flex-col gap-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Написать комментарий</mat-label>
                <textarea matInput [formControl]="form.controls['description']"></textarea>
              </mat-form-field>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
  
      <div class="absolute bottom-6 flex gap-4">
        <button class="btn-secondary mr-[130px]" mat-flat-button (click)="goBack()">Отменить</button>
  
        @if(!isLastStep) {
        <button mat-flat-button (click)="goToNextStep()">Продолжить</button>
        }
        @if(isLastStep && status !== 'Согласована') {
          <button mat-flat-button (click)="rejectClaim()" class="btn-danger">Отклонить</button>
          <button mat-flat-button (click)="approveClaim()">Согласовать</button>
        }
        @if(isLastStep && status === 'Согласована') {
          <button mat-flat-button (click)="createVacancy()">Создать вакансию</button>
        }
    </div>
    }
  </div>
  