<div class="bg-[white] overflow-y-auto w-full h-full rounded-[28px] lg:max-w-[748px] lg:max-h-[800px]">
  <div class="flex flex-col justify-center items-stretch py-16 px-2 lg:p-16">
    <h2 class="text-[32px] text-center leading-[40px] m-0 p-0">Комментарий по вакансии</h2>
    <div class="flex justify-start items-center flex-col grow-0 shrink-0 basis-auto mt-6">

      <mat-expansion-panel class="mat-elevation-z w-[620px]" hideToggle="true" (opened)="openCommentByIndex(-1)" [expanded]="newCommentOpened">
        <mat-expansion-panel-header>
          <p class="text-[var(--link-default)] text-[14px] leading-[20px]">Написать новый комментарий</p>
        </mat-expansion-panel-header>
        <mat-form-field class="w-full" appearance="outline" floatLabel="always">
          <mat-label>Комментарий</mat-label>
          <textarea matInput [value]="comment" rows="4" readonly style="resize: none;"></textarea>
        </mat-form-field>
      </mat-expansion-panel>

      @for (item of count; track $index) {
        <div class="h-[8px]"></div>
        <mat-expansion-panel class="mat-elevation-z w-[620px]" [expanded]="item" (opened)="openCommentByIndex($index)">
          <mat-expansion-panel-header>
            <div class="flex flex-row justify-between w-full pr-[8px]">
              <div class="flex flex-row">
                <p class="text-[14px] leading-[20px]">12.11.2024 в 16:30</p>
                <p class="text-[var(--text-alter)] text-[12px] leading-[16px] mt-[3px] ml-[8px]">Константинопольский К. К.</p>
              </div>
              <p class="text-[14px] leading-[20px] text-right">Очень длинный комментарий...</p>   
            </div>
          </mat-expansion-panel-header>
          <mat-form-field class="w-full" appearance="outline" floatLabel="always">
            <mat-label>Комментарий</mat-label>
            <textarea matInput [value]="comment" rows="4" readonly style="resize: none;"></textarea>
          </mat-form-field>
        </mat-expansion-panel>
      }

      <div class="flex flex-col grow-0 shrink-0 items-stretch justify-center basis-auto max-w-44 gap-4 mt-6 lg:flex-row lg:max-w-max">
        <button mat-flat-button class="btn-secondary" (click)="closeModal()">Отменить</button>
        <button mat-flat-button class="btn-primary" disabled (click)="closeModal()">Сохранить</button>
      </div>
    </div>
  </div>
</div>