<app-layout>
  <app-sidebar>
    <div (click)="addMenuTrigger.openMenu()"
         class="flex items-center justify-center w-14 h-14 bg-[var(--link-default)] rounded-2xl cursor-pointer sidebtn-with-menu">
      <mat-icon svgIcon="add"></mat-icon>
      <div #addMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="addMenu"></div>
    </div>

    <mat-menu #addMenu="matMenu" xPosition="after" panelClass="custom-menu-overlay">
      <button mat-menu-item [routerLink]="['/user', 'request', 'create']"
              [ngStyle]="{'background-color': 'transparent', 'width': '220px'}">

        <mat-icon svgIcon="request"></mat-icon>
        Создать заявку
      </button>
      <button mat-menu-item [routerLink]="['/user', 'vacancy', 'create']">
        <mat-icon svgIcon="add-bag"></mat-icon>
        Создать вакансию
      </button>
      <button mat-menu-item [routerLink]="['/user', 'candidates', 'list']" [queryParams]="{ type: 'create' }">
        <mat-icon svgIcon="add-person"></mat-icon>
        Создать кандидата
      </button>
    </mat-menu>

    <div class="pt-6 flex flex-col items-center gap-y-4">
      <a matTooltip="Сотрудники" [routerLink]="['/user', 'employees']" [routerLinkActive]="['active-link']"
         class="flex flex-col items-center justify-center">
        <span class="icon-container px-4 py-1 rounded-2xl inline-block">
          <mat-icon svgIcon="employees"></mat-icon>
        </span>
        <span class="tracking-[0.5px] font-[500] text-xs">Сотрудники</span>
      </a>
      <a matTooltip="Заявки" [routerLink]="['/user', 'request', 'list']" [routerLinkActive]="['active-link']"
         class="flex flex-col items-center justify-center">
        <span class="icon-container px-4 py-1 rounded-2xl inline-block">
          <mat-icon svgIcon="request"></mat-icon>
        </span>
        <span class="tracking-[0.5px] font-[500] text-xs">Заявки</span>
      </a>
      <a matTooltip="Вакансии" [routerLink]="['/user', 'vacancy']" [routerLinkActive]="['active-link']"
         class="flex flex-col items-center justify-center">
        <span class="icon-container px-4 py-1 rounded-2xl inline-block">
          <mat-icon svgIcon="bag"></mat-icon>
        </span>
        <span class="tracking-[0.5px] font-[500] text-xs">Вакансии</span>
      </a>
      <a matTooltip="Кандидаты" [routerLink]="['/user', 'candidates']" [routerLinkActive]="['active-link']"
         class="flex flex-col items-center justify-center">
        <span class="icon-container px-4 py-1 rounded-2xl inline-block">
          <mat-icon svgIcon="people"></mat-icon>
        </span>
        <span class="tracking-[0.5px] font-[500] text-xs">Кандидаты</span>
      </a>
      <a matTooltip="Офферы" [routerLink]="['/user', 'offers']" [routerLinkActive]="['active-link']"
         class="flex flex-col items-center justify-center">
        <span class="icon-container px-4 py-1 rounded-2xl inline-block">
          <mat-icon svgIcon="note"></mat-icon>
        </span>
        <span class="tracking-[0.5px] font-[500] text-xs">Офферы</span>
      </a>
      <a matTooltip="Календарь" [routerLink]="['/user', 'calendar']" [routerLinkActive]="['active-link']"
         class="flex flex-col items-center justify-center">
        <span class="icon-container px-4 py-1 rounded-2xl inline-block">
          <mat-icon svgIcon="calendar"></mat-icon>
        </span>
        <span class="tracking-[0.5px] font-[500] text-xs">Календарь</span>
      </a>
      <a matTooltip="Аналитика" [routerLink]="['/user', 'analytics']" [routerLinkActive]="['active-link']"
         class="flex flex-col items-center justify-center">
        <span class="icon-container px-4 py-1 rounded-2xl inline-block">
          <mat-icon svgIcon="z-arrow"></mat-icon>
        </span>
        <span class="tracking-[0.5px] font-[500] text-xs">Аналитика</span>
      </a>
    </div>

    <div class="fixed bottom-6 inset-x-0 flex flex-col items-center gap-y-4"
         style="width: inherit; max-width: inherit;">
  <span
    matTooltip="Настройки" matTooltipPosition="right"
    class="icon-container px-4 py-1 rounded-2xl inline-block cursor-pointer">
    <mat-icon svgIcon="settings"></mat-icon>
  </span>
      <span
        (click)="profileMenuTrigger.openMenu()"
        matTooltip="Профиль" matTooltipPosition="right"
        class="icon-container px-4 py-1 rounded-2xl inline-block cursor-pointer profile-btn-with-menu">
  <mat-icon svgIcon="profile"></mat-icon>
  <div #profileMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="profileMenu"></div>
</span>

      <mat-menu #profileMenu="matMenu" xPosition="after" panelClass="custom-menu-overlay">
        <button mat-menu-item [routerLink]="['/user', 'profile']" [ngStyle]="{'background-color': 'transparent'}">
          <mat-icon svgIcon="account-box"></mat-icon>
          Личный кабинет
        </button>
        <button mat-menu-item>
          <mat-icon svgIcon="extension"></mat-icon>
          Расширение
        </button>
        <button mat-menu-item>
          <mat-icon svgIcon="notifications"></mat-icon>
          <div class="flex justify-between items-center gap-9">
            <span>Уведомления</span>
            <app-notification-bubble [value]="1"></app-notification-bubble>
          </div>
        </button>
        <button mat-menu-item class="logout-button" (click)="logout()">
          <mat-icon class="!text-[var(--status-color-danger-text)]" svgIcon="logout"></mat-icon>
          <span class="text-[var(--status-color-danger-text)]">Выйти</span>
        </button>
      </mat-menu>


      <span
        matTooltip="Помощь" matTooltipPosition="right"
        class="icon-container px-4 py-1 rounded-2xl inline-block cursor-pointer">
    <mat-icon svgIcon="support"></mat-icon>
  </span>
    </div>
  </app-sidebar>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</app-layout>
