<div [class]="params ? 'inline-flex w-full h-full items-center' : ''">
  <app-status-tag [status]="className || 'info'" [matMenuTriggerFor]="statusContent" class="cursor-pointer">
    <span>{{ status || 'Выберите статус' }}</span>
    <mat-icon class="!text-[16px] !w-4 !h-4">arrow_drop_down</mat-icon>
  </app-status-tag>
  <mat-menu #statusContent="matMenu">
    @for (statusMenuItem of statuses; track $index) {
      @if (statusMenuItem.value !== status) {
        <button mat-menu-item (click)="changeStatus(statusMenuItem.value)">
          <app-status-tag [status]="statusMenuItem.className">
            {{ statusMenuItem.value }}
          </app-status-tag>
        </button>
      }
    }
  </mat-menu>
</div>
