.survey-title {
  text-align: center;
  font-size: 45px;
  line-height: 52px;
}

.error_icon {
  font-size: 150px;
  height: 150px;
  width: 150px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
