<app-filter [opened]="toggleFilter.checked">
  <form [formGroup]="filterForm">
    <div class="flex items-center justify-between w-full pl-5 pr-4 pb-4">
      <h3 class="text-[22px] leading-7">Фильтр</h3>
      <div class="flex gap-2">
        <button mat-icon-button class="btn-secondary" (click)="onReset()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleFilter.checked = !toggleFilter.checked" class="btn-secondary">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="w-full">
      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Готовность к переезду</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked max-h-[200px] overflow-y-scroll" formControlName="relocation">
          @for (relocation of relocationTypes; track $index) {
            <mat-chip-option [value]="relocation.value">{{ relocation.label }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Возраст</mat-expansion-panel-header>
        <div class="flex items-center gap-2">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="age_from" />
          </mat-form-field>
          <div class="mb-5">-</div>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="age_to" />
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Опыт работы</mat-expansion-panel-header>
        <div class="flex items-center gap-2">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="total_experience_from" />
          </mat-form-field>
          <div class="mb-5">-</div>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="total_experience_to" />
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Город</mat-expansion-panel-header>
        <mat-form-field class="w-full" appearance="outline" floatLabel="always">
          <mat-label>Город</mat-label>
          <input matInput [formControl]="searchCity" />
          <mat-icon matPrefix svgIcon="search"></mat-icon>
        </mat-form-field>
        <div class="max-h-[200px] overflow-y-scroll">
          <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="city">
            @for (city of cities; track $index) {
              <mat-chip-option [value]="city.address">{{ city.address }}</mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>Источник</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="source">
          @for (source of sourceTypes; track $index) {
            <mat-chip-option [value]="source">{{ source }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>По дате добавления</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="added_period">
          @for (addedPeriod of addedPeriodTypes; track $index) {
            <mat-chip-option [value]="addedPeriod">{{ addedPeriod }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>Тип добавления</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="added_type">
          @for (addedType of addedTypes; track $index) {
            <mat-chip-option [value]="addedType">{{ addedType }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>
    </div>
  </form>
</app-filter>

<div class="py-8 px-4 w-full h-full">
  <div class="flex flex-col gap-4">
    <div class="w-full flex gap-3 items-center justify-between">
      <div class="flex gap-3 items-center">
        <button mat-icon-button (click)="onBack()" class="btn-secondary">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 class="text-[32px] leading-10 whitespace-normal">
          {{ vacancy?.vacancy_name }}
          <button mat-icon-button [routerLink]="['..']" class="btn-primary">
            <mat-icon svgIcon="border-color" />
          </button>
        </h1>
      </div>
      @if (vacancy) {
        <div class="flex flex-nowrap text-nowrap">
          <app-status-tag [matMenuTriggerFor]="statusContent" [status]="vacancy.statusClass" class="cursor-pointer">
            <span>{{ vacancy.status }}</span>
            <mat-icon class="!text-[16px] !w-4 !h-4">arrow_drop_down</mat-icon>
          </app-status-tag>
          <mat-menu #statusContent="matMenu">
            @for (status of vacancyStatuses; track $index) {
              @if (vacancy.status !== status.value) {
                <button mat-menu-item (click)="changeStatus(vacancy.id, status.value)">
                  <app-status-tag [status]="status.className">{{ status.value }}</app-status-tag>
                </button>
              }
            }
          </mat-menu>
        </div>
      }
    </div>
    <div class="w-full flex items-center justify-between gap-3">
      <div class="flex gap-3">
        <app-search-input
          class="w-[380px]"
          placeholder="ФИО, почта и тег"
          [formControl]="searchValue"
          (onSearch)="onSearch()">
        </app-search-input>
        <app-filter-toggle #toggleFilter />
      </div>
      <div class="flex gap-3">
        <div class="filter-chip" [matMenuTriggerFor]="filterCandidateContent">
          <span>{{ filterForm.get('stage_name')?.value || 'Все кандидаты' }}</span>
          <mat-icon class="!text-[16px] !w-4 !h-4">arrow_drop_down</mat-icon>
        </div>
        <mat-menu #filterCandidateContent="matMenu">
          <button mat-menu-item (click)="onSelectStage('')">Все кандидаты</button>
          @for (stage of vacancy?.selection_stages; track $index) {
            <button mat-menu-item (click)="onSelectStage(stage.name || '')">{{ stage.name }}</button>
          }
        </mat-menu>
        <div class="filter-chip" [matMenuTriggerFor]="filterStatusContent">
          <span>{{ filterForm.get('status')?.value || 'Все статусы' }}</span>
          <mat-icon class="!text-[16px] !w-4 !h-4">arrow_drop_down</mat-icon>
        </div>
        <mat-menu #filterStatusContent="matMenu">
          <button mat-menu-item (click)="onSelectStatus()">Все статусы</button>
          @for (status of statusTypes; track $index) {
            <button mat-menu-item (click)="onSelectStatus(status)">{{ status }}</button>
          }
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="w-full mt-4 bg-white rounded-3xl">
    @if (!detailsSelectedId) {
      <div class="p-6 pb-4">
        <h2 class="text-[22px]">Кандидаты</h2>
      </div>
    }

    <div class="flex">
      <div
        class="h-[800px] ag-theme-material overflow-hidden"
        [ngClass]="{
      'w-[350px] shrink-0': detailsSelectedId,
      'w-full': !detailsSelectedId
    }"
      >
        <ag-grid-angular [gridOptions]="gridOptions" class="w-full h-full" />
      </div>

      @if (detailsSelectedId) {
        <div class="flex-1 overflow-auto">
          <app-candidate-detail
            #candidateDetail
            [applicantId]="detailsSelectedId.applicantId"
            (onClose)="closeDetails()"
          ></app-candidate-detail>
        </div>
      }
    </div>

  </div>
</div>
