<div class="bg-[white] overflow-y-auto w-full h-full rounded-[28px] lg:w-[950px] lg:max-h-[1200px]">
  <div class="flex flex-col justify-center items-stretch py-16 px-2 lg:p-16">
    <div class="flex justify-between items-center">
      <input type="file" accept="image/png, image/jpeg" (change)="onPhotoSelected($event)" class="hidden" #photoUpload />
      <div class="flex gap-2 items-center">
        <div class="flex w-14 h-14 items-center justify-center bg-[var(--background-main)] rounded-full"
          (click)="!photo ? photoUpload.click() : null" [class.cursor-pointer]="!photo">
          @if (!photo) {
            <mat-icon class="text-[var(--link-default)]" svgIcon="add-a-photo" />
          } @else {
            <img class="min-w-14 min-h-14 rounded-full" [src]="photo" />
          }
        </div>
        @if (photo) {
          <button mat-icon-button class="btn-danger" (click)="deletePhoto()">
            <mat-icon svgIcon="delete" />
          </button>
        }
      </div>

      <input type="file" accept="application/pdf" (change)="onResumeSelected($event)" class="hidden" #resumeUpload />
      @if (!newCandidateResume && !resumeName) {
        <button mat-flat-button class="btn-secondary" (click)="resumeUpload.click()">
          <mat-icon svgIcon="article-shortcut" />
          Загрузить резюме
        </button>
      }
      @if (newCandidateResume || resumeName) {
        <div class="flex gap-1 flex-wrap">
          <button mat-button class="btn-secondary">
            <mat-icon>attach_file</mat-icon>
            {{ resumeName || newCandidateResume?.name }}
          </button>
          <button mat-icon-button class="btn-danger" (click)="deleteResume()">
            <mat-icon svgIcon="delete" />
          </button>
        </div>
      }
    </div>
    <div class="flex justify-start items-center flex-col grow-0 shrink-0 basis-auto mt-8">
      <form
        [formGroup]="applicantForm"
        class="flex justify-center items-stretch flex-col w-full box-border grow-0 shrink-0 basis-auto">
        <div class="flex flex-col gap-x-4 lg:flex-row">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Фамилия</mat-label>
            <input matInput formControlName="last_name" />

            @let isLastNameErrorRequired =
              applicantForm.controls['last_name'].hasError('required') &&
              !applicantForm.controls['last_name'].untouched;

            @if (isLastNameErrorRequired) {
              <mat-icon matSuffix matTooltip="Обязательное поле" svgIcon="error"></mat-icon>
            }
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Имя</mat-label>
            <input matInput formControlName="first_name" />

            @let isFirstNameErrorRequired =
              applicantForm.controls['first_name'].hasError('required') &&
              !applicantForm.controls['first_name'].untouched;

            @if (isFirstNameErrorRequired) {
              <mat-icon matSuffix matTooltip="Обязательное поле" svgIcon="error"></mat-icon>
            }
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-x-4 lg:flex-row">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Отчество</mat-label>
            <input matInput [formControl]="applicantForm.controls['middle_name']" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Адрес</mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-x-4 lg:flex-row">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Дата рождения</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birth_date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Пол</mat-label>
            <mat-select formControlName="gender">
              <mat-option [value]="''">Не указан</mat-option>
              @for (gender of genderTypes; track $index) {
                <mat-option [value]="gender.value">{{ gender.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Гражданство</mat-label>
            <input matInput formControlName="citizenship" />
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-x-4 lg:flex-row">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Телефон</mat-label>
            <input matInput [formControl]="applicantForm.controls['phone']" placeholder="+_ (___) ___-__-__" mask="+0 (000) 000-00-00" />

            @let isPhoneErrorRequired =
              applicantForm.controls['phone'].hasError('required') && !applicantForm.controls['phone'].untouched;

            @if (isPhoneErrorRequired) {
              <mat-icon matSuffix matTooltip="Обязательное поле" svgIcon="error"></mat-icon>
            }
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" />

            @let isEmailErrorEmail =
              applicantForm.controls['email'].hasError('email') && !applicantForm.controls['email'].untouched;
            @let isEmailErrorRequired =
              applicantForm.controls['email'].hasError('required') && !applicantForm.controls['email'].untouched;

            @if (isEmailErrorEmail || isEmailErrorRequired) {
              <mat-icon
                matSuffix
                [matTooltip]="isEmailErrorEmail ? 'Некорректный адрес электронной почты' : 'Обязательное поле'"
                svgIcon="error"></mat-icon>
            }
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-x-4 lg:flex-row">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Образование</mat-label>
            <mat-select [formControl]="applicantForm.controls.params.controls['education']">
              <mat-option [value]="''">Не указано</mat-option>
              @for (education of educationTypes; track $index) {
                <mat-option [value]="education.value">{{ education.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Опыт работ в месяцах</mat-label>
            <input type="number" matInput formControlName="total_experience" />
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-x-4 lg:flex-row">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Занятость</mat-label>
            <mat-select multiple [formControl]="applicantForm.controls.params.controls['employments']">
              @for (employment of employmentTypes; track $index) {
                <mat-option [value]="employment.value">{{ employment.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>График работы</mat-label>
            <mat-select multiple [formControl]="applicantForm.controls.params.controls['schedules']">
              @for (schedule of scheduleTypes; track $index) {
                <mat-option [value]="schedule.value">{{ schedule.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-x-4 lg:flex-row">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Командировки</mat-label>
            <mat-select [formControl]="applicantForm.controls.params.controls['trip_readiness']">
              <mat-option [value]="''">Не указано</mat-option>
              @for (tripReadiness of tripReadinessTypes; track $index) {
                <mat-option [value]="tripReadiness.value">{{ tripReadiness.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Готовность к переезду</mat-label>
            <mat-select formControlName="relocation">
              <mat-option [value]="''">Не указано</mat-option>
              @for (relocation of relocationTypes; track $index) {
                <mat-option [value]="relocation.value">{{ relocation.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Водительские права</mat-label>
            <mat-select multiple [formControl]="applicantForm.controls.params.controls['driver_license_types']">
              @for (driverLicense of driverLicenseTypes; track $index) {
                <mat-option [value]="driverLicense">{{ driverLicense }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <span class="text-[16px] leading-5 font-medium mb-3">Знание языков</span>
        <div [formGroup]="params">
          <ul class="flex flex-col" formArrayName="languages">
            @for (languageForm of languages.controls; track $index) {
              <li class="flex flex-col items-center gap-x-4 lg:flex-row" [formGroup]="languageForm">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Язык</mat-label>
                  <input matInput formControlName="name" />
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Уровень</mat-label>
                  <mat-select formControlName="language_level">
                    @for (languageLevel of languageLevelTypes; track $index) {
                      <mat-option [value]="languageLevel.value">{{ languageLevel.label }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <div class="w-full mb-5">
                  <button mat-icon-button class="btn-danger" (click)="languages.removeAt($index)">
                    <mat-icon svgIcon="delete" />
                  </button>
                </div>
              </li>
            }
          </ul>
          <div class="mb-4 mt-[-10px]">
            <button mat-button class="btn-secondary" (click)="addLanguage()">
              <mat-icon>add</mat-icon>
              {{ languages.controls.length > 0 ? 'Указать еще один язык' : 'Указать язык' }}
            </button>
          </div>
        </div>

        <div class="flex flex-col gap-x-4 lg:flex-row">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Выбор вакансии</mat-label>
            <mat-select formControlName="vacancy_id" panelClass="fit-content">
              @for (vacancy of vacancyList; track $index) {
                <mat-option [value]="vacancy.id">{{ vacancy.vacancy_name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Период отклика</mat-label>
            <input disabled matInput />
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Статус поиска работы</mat-label>
            <mat-select [formControl]="applicantForm.controls.params.controls['search_status']">
              <mat-option [value]="''">Не указано</mat-option>
              @for (searchStatus of searchStatusTypes; track $index) {
                <mat-option [value]="searchStatus.value">{{ searchStatus.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        @if (!isEdit) {
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Заметка о кандидате</mat-label>
            <textarea matInput formControlName="comment"></textarea>
          </mat-form-field>
        }

      </form>

      <div
        class="flex flex-col grow-0 shrink-0 items-stretch justify-center basis-auto max-w-44 mt-6 gap-4 lg:flex-row-reverse lg:max-w-max">
        <button mat-flat-button class="btn-primary" [disabled]="applicantForm.invalid || isLoading" (click)="submit()">
          {{ isEdit ? 'Сохранить' : 'Добавить' }}
        </button>
        <button mat-flat-button class="btn-secondary" (click)="closeModal()">Отмена</button>
      </div>
    </div>
  </div>
</div>
