<div class="members-container">
  <mat-toolbar class="toolbar">
    <div class="title-container">
      <span>Участники</span>
      <div class="badge">{{ participants.length }}</div>
    </div>
    <span class="spacer"></span>
    <button mat-flat-button class="btn-secondary" (click)="openAddMemberModal()">
      + Добавить участника
    </button>
  </mat-toolbar>

  <div class="content-container">

        <ag-grid-angular
          class="ag-theme-material w-full"
          style="height: calc(100% - 80px);"

          [gridOptions]="gridOptions">
        </ag-grid-angular>


    <mat-card class="license-card mat-elevation-z0">
      <mat-card-content class="license-container">
        <div class="license-info">
          <mat-icon svgIcon="chat-info"></mat-icon>
          <span>Для продления лицензии обратитесь в отдел продаж</span>
        </div>
        <button mat-button class="btn-primary" (click)="openLicenseExtensionModal()" style="color: var(--link-default);">Написать</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
