<div class="bg-[white] overflow-y-auto h-full rounded-[28px] w-[748px]">
  <div class="flex flex-col justify-center items-stretch py-16 px-2 lg:p-16">
    <h2 class="text-[32px] text-center leading-[40px] m-0 p-0">Редактирование участника</h2>

    <div class="flex justify-start items-center flex-col grow-0 shrink-0 basis-auto mt-6">
      <form [formGroup]="memberForm" class="flex justify-center items-stretch flex-col w-[400px] box-border grow-0 shrink-0 basis-auto gap-4">
        <mat-form-field appearance="outline">
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="last_name" #firstInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Имя</mat-label>
          <input matInput formControlName="first_name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="example@mail.com" />
          <mat-error *ngIf="memberForm.get('email')?.hasError('email') && !memberForm.get('email')?.pristine">
            Неверный формат email.
          </mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline">
          <mat-label>Телефон</mat-label>
          <input matInput formControlName="phone_number"
                 placeholder="+_ (___) ___-__-__" mask="+0 (000) 000-00-00">
          <mat-error *ngIf="memberForm.get('phone_number')?.hasError('pattern') && !memberForm.get('phone_number')?.pristine">
            Неверный формат телефона.
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Роль</mat-label>
          <mat-select formControlName="role">
            <mat-option value="Администратор">Администратор</mat-option>
            <mat-option value="Пользователь">Пользователь</mat-option>
          </mat-select>
        </mat-form-field>


      </form>

      <div class="flex flex-col grow-0 shrink-0 items-stretch justify-center basis-auto max-w-44 mt-6 gap-4 lg:flex-row-reverse lg:max-w-max">
        <button mat-flat-button class="btn-primary"
                (click)="saveProfile()"
                [disabled]="!memberForm.dirty || memberForm.invalid">
          Сохранить
        </button>

        <button mat-flat-button class="btn-secondary" (click)="closeModal()">Отменить</button>
      </div>
    </div>
  </div>
</div>
