.error-text {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  transition: opacity 0.3s ease-in-out;
}

.password-toggle-icon {
  width: 22px !important;
  height: 22px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.password-toggle-icon ::ng-deep svg {
  width: 100% !important;
  height: 100% !important;
  transform: scale(1.55);
}