@if (vacancy || isNewVacancy) {
  <div class="flex flex-col gap-4 mb-4">
    <div class="w-full flex gap-3 items-center justify-between">
      <div class="flex gap-3 items-center">
        <button mat-icon-button (click)="onBack()" class="btn-secondary">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="text-[16px] leading-6 font-medium"> Вернуться назад </span>
      </div>
      @if (vacancy) {
        <div class="flex flex-nowrap text-nowrap">
          <app-status-tag [matMenuTriggerFor]="statusContent" [status]="vacancy.statusClass" class="cursor-pointer">
            <span>{{ vacancy.status }}</span>
            <mat-icon class="!text-[16px] !w-4 !h-4">arrow_drop_down</mat-icon>
          </app-status-tag>
          <mat-menu #statusContent="matMenu">
            @for (status of statuses; track $index) {
              @if (vacancy.status !== status.value) {
                <button mat-menu-item (click)="changeStatus(vacancy.id, status.value)">
                  <app-status-tag [status]="status.className">{{ status.value }}</app-status-tag>
                </button>
              }
            }
          </mat-menu>
        </div>
      }
    </div>
  </div>

  <div class="w-full p-6 bg-white rounded-3xl relative">
    <div class="flex items-center justify-between">
      <div>
        <mat-chip-listbox hideSingleSelectionIndicator [formControl]="category"
                          [class.pr-44]="category.value === 'stages'">
          <mat-chip-option value="description" [selectable]="category.value !== 'description'">
            Описание вакансии
          </mat-chip-option>
          <mat-chip-option value="publication" [selectable]="category.value !== 'publication'"
                           [disabled]="isNewVacancy">
            Публикация
          </mat-chip-option>
          <mat-chip-option value="stages" [selectable]="category.value !== 'stages'" [disabled]="isNewVacancy">
            Этапы подбора
          </mat-chip-option>
          <!-- <mat-chip-option value="integrations" [selectable]="category.value !== 'integrations'" [disabled]="isNewVacancy">
            Интеграции
          </mat-chip-option> -->
          <mat-chip-option value="team" [selectable]="category.value !== 'team'" [disabled]="isNewVacancy">
            Команда
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div>
        @if (category.value !== 'stages') {
          <button
            mat-flat-button
            class="btn-secondary px-4 py-2 ml-4"
            (click)="generateSurvey()"
          >
            <mat-icon class="mr-2">bolt</mat-icon>
            Сгенерировать анкету
          </button>
        }
      </div>
    </div>
    <app-vacancy-description
      [class.hidden]="category.value !== 'description'"
      [vacancyForm]="vacancyForm"
      [isNewVacancy]="isNewVacancy"
      (onUpdate)="getVacancyById(vacancy?.id || '')"></app-vacancy-description>
    <app-vacancy-publication
      [class.hidden]="category.value !== 'publication'"
      [vacancy]="vacancy"></app-vacancy-publication>
    <app-vacancy-stages [class.hidden]="category.value !== 'stages'" [vacancy]="vacancy"></app-vacancy-stages>
    <app-vacancy-integrations [class.hidden]="category.value !== 'integrations'"></app-vacancy-integrations>
    <app-vacancy-team [class.hidden]="category.value !== 'team'" [vacancyId]="vacancy?.id || ''"></app-vacancy-team>
  </div>
} @else {
  <div class="w-full h-full flex items-center justify-center">
    <app-loader></app-loader>
  </div>
}
