<mat-icon class="!w-[54px] !h-16 mb-9" svgIcon="hr"></mat-icon>
<div
  class="bg-[white] mt-10 md:mt-0 flex justify-center items-stretch flex-col min-w-full md:min-w-[688px] md:py-16 md:rounded-[28px]">
  <p class="text-[2rem] leading-10 lg:text-[45px] lg:leading-[52px] text-center m-0 p-0">Вход в личный кабинет</p>
  <div class="flex justify-start items-center flex-col mt-8 md:mt-6">
    @if (form) {
      <div [formGroup]="form" class="flex items-center flex-col w-full box-border">
        <app-text-input
          label="Введите адрес электронной почты"
          class="w-full md:w-[400px] mb-4"
          formControlName="email"
          [showError]="
          form.get('email')!.invalid && !form.get('email')!.untouched"
        >
          @if (form.get('email')!.invalid && !form.get('email')!.untouched) {
            <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
                <mat-icon svgIcon="error"></mat-icon>
              </span>
          }
        </app-text-input>
        <app-text-input
          label="Введите пароль"
          class="w-full md:w-[400px]"
          formControlName="password"
          type="password"
          [showError]="
          form.get('password')!.invalid && !form.get('password')!.untouched"
        >
          @if (form.get('password')!.invalid && !form.get('password')!.untouched) {
            <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
                <mat-icon svgIcon="error"></mat-icon>
              </span>
          }
        </app-text-input>
        <button
          class="login-button mt-4"
          mat-flat-button
          [disabled]="form.get('email')?.invalid || form.get('password')!.invalid"
          (click)="login()"
        >Войти
        </button>
        <p class="mt-10 md:mt-12 tracking-[0.5px] leading-6">Забыли пароль?</p>
        <a
          (click)="recoveryPassword()"
          class="cursor-pointer duration-200 rounded-[20px] hover:bg-[var(--background-main)] text-[var(--link-default)] px-3 py-2 tracking-[0.5px] leading-6 mt-1"
        >Восстановить пароль</a>
      </div>
    }
  </div>
</div>

