@if (!isLoading) {
  <div class="{{ isVacancyCard ? 'vacancy-candidate-detail' : 'candidate-detail' }}">
    @if (!isVacancyCard) {
      <div class="flex gap-2 items-center py-6">
        <button mat-icon-button (click)="onBack()" class="btn-secondary">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="text-[16px] leading-6 font-medium">Вернуться назад</span>
      </div>
    }

    <div class="bg-white" [class.rounded-2xl]="!isVacancyCard">
      <div
        class="sticky top-0 flex justify-between items-center w-full h-[69px] px-5 py-4 z-10 border-b bg-white"
        [class.rounded-t-2xl]="!isVacancyCard">
        <div class="flex gap-1">
          @if (isVacancyCard) {
            <button mat-icon-button (click)="closeDetail()" class="btn-secondary">
              <mat-icon>arrow_back</mat-icon>
            </button>
          }
          <button mat-button class="btn-danger">
            <mat-icon svgIcon="cancel" />
            <span>Отменить</span>
          </button>
          <button mat-button class="btn-primary">
            <mat-icon>arrow_forward</mat-icon>
            <span class="text-[var(--text-main)]">Перевести</span>
          </button>
          <button mat-button class="btn-primary">
            <mat-icon svgIcon="comment" />
            <span class="text-[var(--text-main)]">Комментарий</span>
          </button>
          <a mat-button class="btn-primary" href="mailto:{{ applicant?.email }}">
            <mat-icon svgIcon="mail" />
            <span class="text-[var(--text-main)]">Написать</span>
          </a>
        </div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="optionsContent" class="btn-primary">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #optionsContent="matMenu">
            <button mat-menu-item>Не ответил на звонок</button>
            <button mat-menu-item>Добавить в черный список</button>
          </mat-menu>
        </div>
      </div>

      <div class="flex flex-col w-full px-6 py-4 gap-6">
        <!-- <div>
          <mat-chip-listbox hideSingleSelectionIndicator>
            <mat-chip-option selected> Инструктор водных программ </mat-chip-option>
            <mat-chip-option> Инструктор ЛФК </mat-chip-option>
          </mat-chip-listbox>
        </div> -->
        <div class="flex w-full px-6 py-4 gap-3 bg-[var(--background-alter)] rounded-2xl">
          <div class="flex w-[80px] h-[80px] bg-[var(--background-main)] rounded-full">
            <mat-icon svgIcon="no-avatar" class="!w-[80px] !h-[80px] rounded-full" />
            <!-- <img class="min-w-[80px] min-h-[80px] rounded-full" src="" /> -->
          </div>
          <div class="flex flex-col gap-2 w-full">
            <div class="flex w-full gap-4 items-center">
              @if (applicant && applicant.status) {
                <app-status-tag [status]="applicant.statusClass"> {{ applicant.status }} </app-status-tag>
              }
              @if (applicant && applicant.accept_date) {
                <span class="text-[11px] leading-4 font-medium text-[var(--text-alter)]">
                  Отклик с карьерного сайта {{ applicant.accept_date }}
                </span>
              }
            </div>

            <div class="flex flex-col w-full lg:flex-row">
              <div class="flex flex-col grow gap-1">
                <h4 class="text-[22px] leading-7">{{ applicant?.fio }}</h4>
                <div class="flex flex-col flex-wrap gap-y-1 gap-x-2 lg:flex-row lg:description-dots">
                  @if (applicant?.age) {
                    <span>{{ applicant?.age }} лет</span>
                  }
                  @if (applicant?.salary) {
                    <span>{{ applicant?.salary | currency: 'RUB' : 'руб.' : '1.0' }}</span>
                  }
                  @if (applicant?.resume_title) {
                    <span>{{ applicant?.resume_title }}</span>
                  }
                  @if (applicant?.address) {
                    <span>{{ applicant?.address }}</span>
                  }
                </div>
                <div class="flex flex-col flex-wrap gap-y-1 gap-x-2 lg:flex-row lg:description-dots">
                  <span>{{ applicant?.phone }}</span>
                  <span>{{ applicant?.email }}</span>
                </div>
              </div>

              <div class="flex flex-col grow lg:justify-between lg:items-end">
                @if (isVacancyCard) {
                  <button mat-icon-button class="btn-primary" [routerLink]="['/user/candidates/', applicant?.id]">
                    <mat-icon svgIcon="assignment-ind" />
                  </button>
                } @else {
                  <button mat-icon-button class="btn-primary" (click)="openEditModal()">
                    <mat-icon svgIcon="edit" />
                  </button>
                }

                <div class="flex">
                  <a mat-icon-button class="btn-primary" href="https://wa.me/{{ applicant?.phone }}">
                    <mat-icon svgIcon="whatsapp" />
                  </a>
                  <!-- <a mat-icon-button class="btn-primary">
                    <mat-icon svgIcon="telegram" />
                  </a> -->
                  <a mat-icon-button class="btn-primary" href="tel:{{ applicant?.phone }}">
                    <mat-icon svgIcon="call" />
                  </a>
                  <a mat-icon-button class="btn-primary" href="mailto:{{ applicant?.email }}">
                    <mat-icon svgIcon="mail" />
                  </a>
                </div>
              </div>
            </div>

            <div class="w-full">
              @for (tag of applicant?.tags; track $index) {
                <button mat-button class="btn-primary" (click)="removeTag(tag)">
                  <mat-icon svgIcon="delete" />
                  {{ tag }}
                </button>
              }
              <input type="checkbox" class="hidden" #tagAddVisible />
              @if (tagAddVisible.checked) {
                <mat-form-field appearance="outline">
                  <mat-label>Добавить тег</mat-label>
                  <input matInput type="text" #tagInput />
                  <button matSuffix mat-icon-button (click)="addTag(tagInput.value)">
                    <mat-icon>check</mat-icon>
                  </button>
                  <button matSuffix mat-icon-button (click)="tagAddVisible.checked = false; tagInput.value = ''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              } @else {
                <button mat-button class="btn-primary" (click)="tagAddVisible.checked = true">
                  <mat-icon>add</mat-icon>
                  Добавить тег
                </button>
              }
            </div>
          </div>
        </div>

        <form [formGroup]="form" class="flex flex-col gap-8">
          <div class="w-full">
            <label class="text-[16px] leading-6 font-medium">Заметка о кандидате</label>
            <app-text-editor class="w-full mt-2" formControlName="comment"></app-text-editor>
            <button mat-flat-button class="btn-primary mt-4" (click)="saveComment()">Сохранить</button>
          </div>
        </form>
      </div>
      <mat-tab-group fitInkBarToContent>
        <mat-tab label="Резюме">
          <div class="p-6">
            <button mat-flat-button class="btn-secondary">
              <mat-icon>add</mat-icon>
              Добавить резюме
            </button>
            <div class="w-full flex justify-between items-center mt-4">
              <span class="text-[16px] leading-6 text-[var(--text-alter)]">Дата добавления резюме: 20.01.2024</span>
              <div class="flex gap-3">
                <button mat-icon-button class="btn-primary">
                  <mat-icon svgIcon="share" />
                </button>
                <button mat-icon-button class="btn-primary">
                  <mat-icon svgIcon="print" />
                </button>
                <button mat-icon-button class="btn-primary">
                  <mat-icon svgIcon="download" />
                </button>
                <button mat-icon-button class="btn-primary">
                  <mat-icon svgIcon="delete" />
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Действия">
          <div class="p-6">
            <mat-chip-listbox hideSingleSelectionIndicator>
              <mat-chip-option selected>Все</mat-chip-option>
              <mat-chip-option>Комментарии</mat-chip-option>
            </mat-chip-listbox>

            <div class="flex flex-col gap-4 mt-4">
              <span class="text-[16px] leading-6 text-[var(--text-alter)]">Нет действий</span>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Документы">
          <div class="p-6">
            <button mat-flat-button class="btn-secondary">
              <mat-icon>attach_file</mat-icon>
              Прикрепить документ
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
} @else {
  <div class="{{ isVacancyCard ? 'vacancy-candidate-detail' : 'candidate-detail' }}">
    <app-loader></app-loader>
  </div>
}
