@if (!isLoading && applicant) {
  <div class="{{ isVacancyCard ? 'vacancy-candidate-detail h-[75vh]' : 'candidate-detail h-screen' }} overflow-hidden flex flex-col">
    @if (!isVacancyCard) {
      <div class="flex gap-2 items-center py-6">
        <button mat-icon-button (click)="onBack()" class="btn-secondary">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="text-[16px] leading-6 font-medium">Вернуться назад</span>
      </div>
    }

    <div class="bg-white flex-1 flex overflow-y-auto flex-col" [class.rounded-2xl]="!isVacancyCard">
      <div
        class="sticky top-0 flex justify-between items-center w-full h-[69px] px-5 py-4 z-10 border-b bg-white"
        [class.rounded-t-2xl]="!isVacancyCard">
        <div class="flex gap-1">
          @if (isVacancyCard) {
            <button mat-icon-button (click)="closeDetail()" class="btn-secondary">
              <mat-icon>arrow_back</mat-icon>
            </button>
          }
          <button mat-button class="btn-danger" (click)="openRejectModal()">
            <mat-icon svgIcon="cancel"/>
            <span>Отменить</span>
          </button>
          <button mat-button class="btn-primary" [matMenuTriggerFor]="changeStageContent">
            <mat-icon>arrow_forward</mat-icon>
            <span class="text-[var(--text-main)]">Перевести</span>
          </button>
          <mat-menu #changeStageContent="matMenu">
            @for (stage of stages; track $index) {
              <button mat-menu-item (click)="changeStage(stage.id)"
                      [disabled]="isStageDisabled(stage)">
                {{ stage.name }}
              </button>
            }
          </mat-menu>
          <button mat-button class="btn-primary" (click)="openCommentModal()">
            <mat-icon svgIcon="comment"/>
            <span class="text-[var(--text-main)]">Комментарий</span>
          </button>
          <!-- <button mat-button class="btn-primary" disabled>
            <mat-icon svgIcon="mail"/>
            <span class="text-[var(--text-main)]">Написать</span>
          </button> -->
        </div>
        <!-- <div>
          <button mat-icon-button [matMenuTriggerFor]="optionsContent" class="btn-primary">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #optionsContent="matMenu">
            <button [disabled]="true" mat-menu-item>Не ответил на звонок</button>
            <button [disabled]="true" mat-menu-item>Добавить в черный список</button>
          </mat-menu>
        </div> -->
      </div>

      <div class="flex flex-col w-full px-6 py-4 gap-6">
        <app-candidate-detail-info
          [isVacancyCard]="isVacancyCard"
          [applicant]="applicant"
          [resume]="resume"
          [photo]="photo"
          (onSubmit)="getApplicantById(applicant.id)">
        </app-candidate-detail-info>
        <form class="flex flex-col gap-8">
          <div class="w-full">
            <label class="text-[16px] leading-6 font-medium">Заметка о кандидате</label>
            <app-text-editor class="w-full mt-2" [formControl]="comment"></app-text-editor>
            <button mat-flat-button class="btn-primary mt-4" (click)="saveComment()">Сохранить</button>
          </div>
        </form>
      </div>

      <mat-tab-group fitInkBarToContent [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
        <mat-tab label="Резюме">
          <div class="p-6">
            @if (!resume || !resumeUint) {
              <input type="file" accept="application/pdf" class="hidden" (change)="uploadResume($event)" #resumeInput/>
              <button mat-flat-button class="btn-secondary" (click)="resumeInput.click()">
                <mat-icon>add</mat-icon>
                Добавить резюме
              </button>
            } @else {
              <div class="w-full flex flex-col">
                <div class="w-full flex justify-between items-center my-4">
                  <div class="flex gap-1 flex-wrap">
                    <button mat-button class="btn-secondary">
                      <mat-icon>attach_file</mat-icon>
                      {{ resume.name || 'Резюме' }}
                    </button>
                  </div>

                  <div class="flex gap-3">
                    <!-- <button mat-icon-button class="btn-primary">
                      <mat-icon svgIcon="share" />
                    </button> -->
                    <button mat-icon-button class="btn-primary" (click)="printResume()">
                      <mat-icon svgIcon="print"/>
                    </button>
                    <button mat-icon-button class="btn-primary" (click)="downloadResume()">
                      <mat-icon svgIcon="download"/>
                    </button>
                    <button mat-icon-button class="btn-primary" (click)="deleteResume()">
                      <mat-icon svgIcon="delete"/>
                    </button>
                  </div>
                </div>
                <div class="flex items-center justify-center drop-shadow-xl">
                  <pdf-viewer #resumeViewer
                    id="pdfViewer"
                    [src]="resumeUint"
                    [original-size]="true"
                    (after-load-complete)="afterLoadComplete($event)"
                    style="width: 100%; min-width: 400px; height: 100vh;">
                  </pdf-viewer>
                </div>
              </div>
            }
          </div>
        </mat-tab>
        <mat-tab label="Документы">
          <div class="p-6">
            <input
              type="file"
              accept="application/pdf"
              class="hidden"
              (change)="uploadDocument($event)"
              #documentInput/>
            <button mat-flat-button class="btn-secondary" (click)="documentInput.click()">
              <mat-icon>attach_file</mat-icon>
              Прикрепить документ
            </button>
            @for (doc of docList; track $index) {
              <hr class="w-full h-[1px] bg-[var(--background-alter)] my-2"/>
              <div class="w-full flex justify-between">
                <button mat-button class="btn-secondary">
                  <mat-icon>attach_file</mat-icon>
                  {{ doc.name }}
                </button>
                <div class="flex gap-3">
                  <button mat-icon-button class="btn-primary" (click)="downloadDocument(doc.id, doc.name)">
                    <mat-icon svgIcon="download"/>
                  </button>
                  <button mat-icon-button class="btn-primary" (click)="deleteDocument(doc.id)">
                    <mat-icon svgIcon="delete"/>
                  </button>
                </div>
              </div>
            }
          </div>
        </mat-tab>
        <mat-tab label="Действия">
          <div class="p-6">
            <mat-chip-listbox hideSingleSelectionIndicator [formControl]="changesCommentsOnly">
              <mat-chip-option [value]="false" [selectable]="changesCommentsOnly.value === true"> Все</mat-chip-option>
              <mat-chip-option [value]="true" [selectable]="changesCommentsOnly.value === false">
                Комментарии
              </mat-chip-option>
            </mat-chip-listbox>

            <ul class="flex flex-col gap-4 mt-4">
              @if (!changesLog || changesLog.length === 0) {
                <li class="text-[16px] leading-6 text-[var(--text-alter)]">Нет действий</li>
              } @else {
                @for (logItem of changesLog; track $index) {
                  <li class="flex gap-4" [class]="logItem.action_type === 'comment' ? 'items-start' : 'items-center'">
                    <div class="flex">
                      <div
                        class="flex items-center justify-center rounded-full bg-[var(--background-main)] w-14 h-14 z-0">
                        <mat-icon [class]="logItem.actionIcon.className" [svgIcon]="logItem.actionIcon.name"></mat-icon>
                      </div>
                      <div
                        class="flex items-center justify-center rounded-full bg-[var(--background-alter)] w-14 h-14 ml-[-12px]">
                        <mat-icon
                          class="text-[var(--link-default)]"
                          [svgIcon]="logItem.user_id ? 'person' : 'smart-toy'"></mat-icon>
                      </div>
                    </div>
                    <div class="flex flex-col gap-2">
                      <span class="text-[var(--text-alter)] text-[12px] leading-4 font-medium">
                        {{ logItem.user_name || 'Система' }}
                      </span>
                      @if (logItem.action_type === 'comment') {
                        <span class="text-[14px] leading-5">
                          Оставлен комментарий по вакансии
                          <span class="text-[14px] leading-5 text-[var(--link-default)] cursor-pointer" [routerLink]="['/user/vacancy/', logItem.vacancy_id]">
                            {{ logItem.vacancy_name }}
                          </span>
                        </span>
                        <span
                          class="text-[14px] leading-5 bg-[var(--background-alter)] p-3 rounded-2xl whitespace-pre-line">
                          {{ logItem.changes?.description }}
                        </span>
                      } @else {
                        <span class="text-[14px] leading-5">
                          {{ logItem.changes?.description }}
                          <span class="text-[14px] leading-5 text-[var(--link-default)] cursor-pointer" [routerLink]="['/user/vacancy/', logItem.vacancy_id]">
                            {{ logItem.vacancy_name }}
                          </span>
                        </span>
                      }
                      <input type="checkbox" class="hidden" #viewChanges/>
                      @if (logItem.changes?.data) {
                        <span
                          class="text-[14px] leading-5 text-[var(--text-alter)] cursor-pointer"
                          (click)="viewChanges.checked = !viewChanges.checked">
                          {{ logItem.changes?.data?.length }} изменений
                        </span>
                      }
                    </div>
                  </li>
                  @if (logItem.changes?.data && viewChanges.checked) {
                    <div class="flex gap-4">
                      <div class="w-[120px]"></div>
                      <div class="w-full">
                        @for (data of logItem.changes?.data; track $index) {
                          <div
                            class="mb-3 p-3 border-l-4 border-l-[var(--link-default)] border-t border-r border-b rounded-r-lg bg-white">
                            <div class="font-medium mb-2">{{ data.field }}</div>

                            <div class="ml-2 flex gap-3 items-center">
                              <div class="flex-1">
                                @if (!data.old_value) {
                                  <span class="text-[var(--text-alter)] italic">Не было значения</span>
                                } @else {
                                  <span class="text-[var(--text-alter)]">
                                    {{ cleanValue(data.field, data.old_value) }}
                                  </span>
                                }
                              </div>

                              <mat-icon class="text-[var(--text-alter)]">arrow_forward</mat-icon>

                              <div class="flex-1 font-medium">
                                {{ cleanValue(data.field, data.new_value) }}
                              </div>
                            </div>
                          </div>
                        }
                      </div>
                    </div>
                  }
                }
              }
            </ul>
          </div>
        </mat-tab>
        <mat-tab label="Видео-интервью">
          <app-video-result
            [survey]="applicant.survey!">
          </app-video-result>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
} @else {
  <div class="{{ isVacancyCard ? 'vacancy-candidate-detail h-[75vh]' : 'candidate-detail h-screen' }}">
    <app-loader></app-loader>
  </div>
}
