<div class="flex flex-col w-full h-full bg-white rounded-[28px] lg:w-[650px] lg:h-[340px] overflow-hidden">
  <div class="flex flex-col h-full justify-center items-center">
    <mat-icon svgIcon="error" class="!w-[80px] !h-[80px] mb-[12px]"></mat-icon>
    <h1 class="text-[24px] text-center leading-[32px] ml-12 mr-12">К сожалению, вы не завершили<br />видеоинтервью в отведённое<br />время.</h1>
    <p class="text-[16px] text-center leading-[24px] mt-[12px]">Ваша заявка будет рассмотрена без этого этапа.<br />Спасибо за интерес к нашей компании!</p>
  </div>
</div>