<!-- Контейнер с фото и кнопкой -->
<div class="flex justify-between items-center mt-6">
  <div class="flex items-center gap-4">
    <!-- Контейнер для фото -->
    <div class="photo-upload relative cursor-pointer w-20 h-20 rounded-full overflow-hidden mb-2" (click)="fileInput.click()">
      @if (companyLogoPreview) {
        <img [src]="companyLogoPreview" alt="Логотип компании" class="w-full h-full object-cover">
      } @else {
        <div class="w-full h-full flex items-center justify-center bg-gray-200 rounded-full">
          <mat-icon svgIcon="add-a-photo" class="text-gray-500 text-2xl"></mat-icon>
        </div>
      }
      <input #fileInput type="file" (change)="uploadLogo($event)" hidden accept="image/*">
    </div>
  </div>
</div>

<!-- Форма настроек компании -->
<form [formGroup]="companyForm">
  <div class="mt-6 grid grid-cols-3 gap-x-4 gap-y-2">
    <mat-form-field appearance="outline">
      <mat-label>Название компании</mat-label>
      <input matInput formControlName="companyName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Адрес сайта</mat-label>
      <input matInput formControlName="website">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Часовой пояс</mat-label>
      <mat-select formControlName="timezone">
        <mat-option *ngFor="let tz of timezones" [value]="tz.id">{{ tz.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Описание компании -->
  <div class="mt-4 w-full">
    <mat-label>Описание компании</mat-label>
    <quill-editor formControlName="description" [modules]="quillConfig" placeholder="Введите описание компании..." class="w-full h-60"></quill-editor>
  </div>

  <p class="text-gray-500 text-sm mt-2">
    Этот текст будет опубликован на карьерной странице вашей компании. Постарайтесь кратко написать о том, чем занимается ваша компания и почему в ней классно работать.
  </p>

  <!-- Кнопка "Сохранить" -->
  <div class="mt-4">
    <button mat-flat-button class="btn-primary" (click)="saveCompanySettings()" [disabled]="companyForm.pristine || companyForm.invalid">
      Сохранить
    </button>
  </div>
</form>
