

.license-info {
  display: flex;
  height: 80px;
  align-items: center;
  border-radius: 12px;
  background: #F0F4F9;
  box-shadow: var(--mat-elevation-2);
  padding: 0 20px;
  color: #111826;
}

mat-option {
  --mat-option-focus-state-layer-color: transparent;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: transparent;
}

