// mat-stepper {
//     background-color: transparent;
// }

::ng-deep .mat-horizontal-content-container {
    @apply p-0;
}

::ng-deep app-text-input input[type="number"]::-webkit-outer-spin-button,
::ng-deep app-text-input input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

::ng-deep .mat-mdc-form-field-subscript-wrapper{
    @apply hidden;
}

quill-editor {
  @apply h-[200px] border-[1px] border-[var(--outline)];
}

::ng-deep .ql-container {
  @apply h-[156px];
}

.modal-overlay {
  @apply fixed inset-0 bg-black bg-opacity-50 flex place-items-center justify-center z-50;
}
  
.modal-content {
  @apply bg-white p-10 rounded-lg max-w-md text-center;
}
  
.modal-actions {
  @apply flex justify-between mt-5; 
}

::ng-deep div.mat-mdc-select-panel  {
  background-color: var(--notification-color-text) !important;
}

::ng-deep app-text-input input:not(:placeholder-shown),
  app-text-input input:focus {
    border: 1px solid black !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #000 !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  font-weight: 500 !important;
  color: var(--link-default) !important;
}



