<div class="min-h-[836px] my-10 mx-6 p-6 bg-white rounded-3xl relative">
  <p class="mb-10 text-[22px]">Создание заявки</p>
  @if (!showForm) {
    <h1 class="text-[32px] mb-2">Направление подбора</h1>
    <p class="text-base mb-6">Выберите направление подбора к которому относится эта вакансия</p>
    <div class="flex gap-3">
      <button class="w-[242px] py-6 flex flex-col items-center border-2 rounded-xl"
              (click)="startForm(ModelsVRSelectionType.VRSelectionTypeMass)">
        <mat-icon class="!w-10 !h-10" svgIcon="profile-in-circle"></mat-icon>
        <span>Массовый</span>
      </button>
      <button class="w-[242px] py-6 flex flex-col items-center border-2 rounded-xl"
              (click)="startForm(ModelsVRSelectionType.VRSelectionTypePersonal)">
        <mat-icon class="!w-10 !h-10" svgIcon="business-bag"></mat-icon>
        <span>Профессиональный</span>
      </button>
    </div>
  }
  @if (showForm) {
    <form [formGroup]="form" class="max-w-[580px] mb-[70px]">
      <mat-stepper #stepper [linear]="true" class="!bg-transparent" (selectionChange)="onStepChange($event)">
        <mat-step [stepControl]="getStepFormGroup(StepForm.Step1)">
          <h2 class="text-3xl mb-4">Общая информация</h2>
          <div class="flex flex-col gap-4">

            <mat-form-field appearance="outline">
              <mat-label>Название компании</mat-label>
              <input type="text"
                     matInput
                     [formControl]="getControl(StepForm.Step1, Step1Fields.CompanyName)"
                     [matAutocomplete]="companyAuto">
              <mat-autocomplete #companyAuto="matAutocomplete" [displayWith]="displayCompanyName">
                @for (item of (filteredCompany$ | async); track item) {
                  <mat-option [value]="item">{{ item.name }}</mat-option>
                }
              </mat-autocomplete>
              @if (getControl(StepForm.Step1, Step1Fields.CompanyName)?.invalid &&
              !getControl(StepForm.Step1, Step1Fields.CompanyName)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Название вакансии</mat-label>
              <input type="text"
                     matInput
                     [formControl]="getControl(StepForm.Step1, Step1Fields.VacancyName)">
              @if (getControl(StepForm.Step1, Step1Fields.VacancyName)?.invalid &&
              !getControl(StepForm.Step1, Step1Fields.VacancyName)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
            <mat-icon svgIcon="error"></mat-icon>
    </span>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Структура</mat-label>
              <mat-select [formControl]="getControl(StepForm.Step1, Step1Fields.CompanyStructId)">
                @for (item of companyStructureArray; track $index) {
                  <mat-option [value]="item.id">{{ item.name }}</mat-option>
                }
              </mat-select>
              @if (getControl(StepForm.Step1, Step1Fields.CompanyStructId)?.invalid &&
              !getControl(StepForm.Step1, Step1Fields.CompanyStructId)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Подразделение</mat-label>
              <mat-select [formControl]="getControl(StepForm.Step1, Step1Fields.DepartmentId)">
                @for (item of companyDepartmentArray; track $index) {
                  <mat-option [value]="item.id">{{ item.name }}</mat-option>
                }
              </mat-select>
              @if (getControl(StepForm.Step1, Step1Fields.DepartmentId)?.invalid &&
              !getControl(StepForm.Step1, Step1Fields.DepartmentId)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Штатная должность</mat-label>
              <mat-select [formControl]="getControl(StepForm.Step1, Step1Fields.JobTitleId)">
                @for (item of companyJobsNamesArray; track $index) {
                  <mat-option [value]="item.id">{{ item.name }}</mat-option>
                }
              </mat-select>
              @if (getControl(StepForm.Step1, Step1Fields.JobTitleId)?.invalid &&
              !getControl(StepForm.Step1, Step1Fields.JobTitleId)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>

          </div>
        </mat-step>
        <mat-step [stepControl]="getStepFormGroup(StepForm.Step2)">
          <h2 class="text-3xl mb-4">Местоположение и контакты</h2>
          <div class="flex flex-col gap-4">

            <mat-form-field appearance="outline">
              <mat-label>Город</mat-label>

              <input type="text" matInput [formControl]="getControl(StepForm.Step2, Step2Fields.CityId)"
                     [matAutocomplete]="cityAuto">

              <mat-autocomplete #cityAuto="matAutocomplete" [displayWith]="displayCityName">
                @for (item of (filteredCity$ | async); track item) {
                  <mat-option [value]="item">
                    {{ item.address }}
                  </mat-option>
                }
              </mat-autocomplete>
              @if (getControl(StepForm.Step2, Step2Fields.CityId)?.invalid &&
              !getControl(StepForm.Step2, Step2Fields.CityId)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Адрес офиса</mat-label>
              <input type="text"
                     matInput
                     [formControl]="getControl(StepForm.Step2, Step2Fields.PlaceOfWork)">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>ФИО непосредственного руководителя</mat-label>
              <input type="text"
                     matInput
                     [formControl]="getControl(StepForm.Step2, Step2Fields.ChiefFio)">
              @if (getControl(StepForm.Step2, Step2Fields.ChiefFio)?.invalid &&
              !getControl(StepForm.Step2, Step2Fields.ChiefFio)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
      <mat-icon svgIcon="error"></mat-icon>
    </span>
              }
            </mat-form-field>
          </div>
        </mat-step>
        <mat-step [stepControl]="getStepFormGroup(StepForm.Step3)">
          <h2 class="text-3xl mb-4">Детали вакансии</h2>
          <div class="flex flex-col gap-4">
            <mat-form-field appearance="outline">
              <mat-label>Количество вакантных позиций</mat-label>
              <input type="number"
                     matInput
                     [formControl]="getControl(StepForm.Step3, Step3Fields.OpenedPositions)">
              @if (getControl(StepForm.Step3, Step3Fields.OpenedPositions)?.invalid &&
              !getControl(StepForm.Step3, Step3Fields.OpenedPositions)?.untouched) {
                <span class="absolute right-4 top-1 w-12 h-12 flex justify-center items-center">
      <mat-icon svgIcon="error"></mat-icon>
    </span>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Срочность</mat-label>
              <mat-select [formControl]="getControl(StepForm.Step3, Step3Fields.Urgency)">
                @for (urgency of urgencys; track $index) {
                  <mat-option value="{{ urgency.value }}">{{ urgency.name }}</mat-option>
                }
              </mat-select>
              @if (getControl(StepForm.Step3, Step3Fields.Urgency)?.invalid &&
              !getControl(StepForm.Step3, Step3Fields.Urgency)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Тип заявки</mat-label>
              <mat-select [formControl]="getControl(StepForm.Step3, Step3Fields.RequestType)">
                @for (request_type of request_types; track $index) {
                  <mat-option value="{{ request_type.value }}">{{ request_type.name }}</mat-option>
                }
              </mat-select>
              @if (getControl(StepForm.Step3, Step3Fields.RequestType)?.invalid &&
              !getControl(StepForm.Step3, Step3Fields.RequestType)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>
            <div class="flex flex-col w-full">
              <label class="text-[16px] leading-6 font-medium mb-2">Требования, обязанности, условия</label>
              <div class="flex flex-col w-full">
                <app-text-editor
                  [formControl]="getControl(StepForm.Step3, Step3Fields.Requirements)"
                  (onActionBtnClick)="openGenerateCommentModal()"
                  class="w-full"
                  height="160px">
                </app-text-editor>
              </div>
            </div>

            <label>Условия</label>

            <mat-form-field appearance="outline">
              <mat-label>Занятость</mat-label>
              <mat-select [formControl]="getControl(StepForm.Step3, Step3Fields.Employment)">
                @for (employment of employments; track $index) {
                  <mat-option value="{{ employment.value }}">{{ employment.label }}</mat-option>
                }
              </mat-select>
              @if (getControl(StepForm.Step3, Step3Fields.Employment)?.invalid &&
              !getControl(StepForm.Step3, Step3Fields.Employment)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Опыт работы</mat-label>
              <mat-select [formControl]="getControl(StepForm.Step3, Step3Fields.Experience)">
                @for (experience of experiences; track $index) {
                  <mat-option value="{{ experience.value }}">{{ experience.label }}</mat-option>
                }
              </mat-select>
              @if (getControl(StepForm.Step3, Step3Fields.Experience)?.invalid &&
              !getControl(StepForm.Step3, Step3Fields.Experience)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Режим работы</mat-label>
              <mat-select [formControl]="getControl(StepForm.Step3, Step3Fields.Schedule)">
                @for (schedule of schedules; track $index) {
                  <mat-option value="{{ schedule.value }}">{{ schedule.label }}</mat-option>
                }
              </mat-select>
              @if (getControl(StepForm.Step3, Step3Fields.Schedule)?.invalid &&
              !getControl(StepForm.Step3, Step3Fields.Schedule)?.untouched) {
                <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
          <mat-icon svgIcon="error"></mat-icon>
        </span>
              }
            </mat-form-field>
          </div>
        </mat-step>
        <mat-step [stepControl]="getStepFormGroup(StepForm.Step4)">
          <h2 class="text-3xl mb-4">Цепочка согласования</h2>
          <div [formGroupName]="StepForm.Step4">
            <div [formArrayName]="Step4Fields.Interviewers">
              @for (interviewer of interviewers.controls; track $index) {
                <div class="mb-2" [formGroupName]="$index">
                  <div class="flex justify-between items-center">
                    <h3 class="h-[40px]">{{ interviewer.get('stage')?.value }}-й этап согласования</h3>
                    @if ($index > 0) {
                      <button mat-icon-button (click)="removeInterviewer($index)">
                        <mat-icon svgIcon="delete">delete</mat-icon>
                      </button>
                    }
                  </div>
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Выберите сотрудника</mat-label>
                    <mat-select formControlName="space_user_id">
                      @for (item of users; track item) {
                        <mat-option [value]="item.id">
                          {{ item.first_name }} {{ item.last_name }}
                        </mat-option>
                      }
                      @if (interviewer.get('space_user_id')?.invalid && !interviewer.get('space_user_id')?.untouched) {
                        <span class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center">
                  <mat-icon svgIcon="error"></mat-icon>
                </span>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              }
              <button class="w-[243px]" mat-flat-button (click)="addInterviewer()">
                Добавить этап согласования
              </button>
            </div>
          </div>
        </mat-step>
      </mat-stepper>

    </form>
  }

  <div class="absolute bottom-6">
    <button class="btn-secondary mr-4" mat-flat-button (click)="goBack()">Отменить</button>
    @if (showForm) {
      <button mat-flat-button class="mr-[130px]"
              [disabled]="getCurrentStepGroup()?.invalid"
              (click)="openSaveDraftDialog()">Сохранить черновик
      </button>
      @if (!isLastStep) {
        <button mat-flat-button
                [disabled]="getCurrentStepGroup()?.invalid"
                (click)="goToNextStep()">Продолжить
        </button>
      }
      @if (isLastStep) {
        <button mat-flat-button (click)="onSubmit()">Отправить на согласование</button>
      }
    }
  </div>
  <ng-template #saveDraftDialog>
    <div class="modal-overlay">
      <div class="modal-content">
        <h2>Вы действительно хотите завершить создание заявки?</h2>
        <div class="modal-actions">
          <button mat-raised-button (click)="closeDialog()">Отмена</button>
          <button mat-flat-button (click)="saveDraftAndExit()">Сохранить черновик и выйти</button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #draftDialog>
    <div class="modal-content">
      <h2>Вы хотите использовать черновик или создать новую заявку?</h2>
      <div class="modal-actions">
        <button mat-raised-button (click)="useDraft()">Использовать черновик</button>
        <button mat-flat-button (click)="newRequest()">Новая заявка</button>
      </div>
    </div>
  </ng-template>

</div>
