<app-filter [opened]="toggleFilter.checked">
  <form [formGroup]="filterForm">
    <div class="flex items-center justify-between w-full pl-5 pr-4 pb-4">
      <h3 class="text-[22px] leading-7">Фильтр</h3>
      <div class="flex gap-2">
        <button mat-icon-button class="btn-secondary" (click)="onReset()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleFilter.checked = !toggleFilter.checked" class="btn-secondary">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="w-full">
      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Вакансия</mat-expansion-panel-header>
        <mat-form-field class="w-full" appearance="outline" floatLabel="always">
          <mat-label>Поиск</mat-label>
          <input matInput [formControl]="searchVacancy" />
          <mat-icon matPrefix svgIcon="search"></mat-icon>
        </mat-form-field>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked max-h-[200px] overflow-y-scroll" formControlName="vacancy_id">
          @for (vacancy of vacancyList; track $index) {
            <mat-chip-option [value]="vacancy.id">{{ vacancy.vacancy_name }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Готовность к переезду</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked max-h-[200px] overflow-y-scroll" formControlName="relocation">
          @for (relocation of relocationTypes; track $index) {
            <mat-chip-option [value]="relocation.value">{{ relocation.label }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Возраст</mat-expansion-panel-header>
        <div class="flex items-center gap-2">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="age_from" />
          </mat-form-field>
          <div class="mb-5">-</div>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="age_to" />
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Опыт работы</mat-expansion-panel-header>
        <div class="flex items-center gap-2">
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="total_experience_from" />
          </mat-form-field>
          <div class="mb-5">-</div>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="total_experience_to" />
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Город</mat-expansion-panel-header>
        <mat-form-field class="w-full" appearance="outline" floatLabel="always">
          <mat-label>Город</mat-label>
          <input matInput [formControl]="searchCity" />
          <mat-icon matPrefix svgIcon="search"></mat-icon>
        </mat-form-field>
        <div class="max-h-[200px] overflow-y-scroll">
          <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="city">
            @for (city of cities; track $index) {
              <mat-chip-option [value]="city.address">{{ city.address }}</mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>Тип этапа</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="stage_name">
          <mat-chip-option value="Добавлен">Добавлен</mat-chip-option>
          <mat-chip-option value="Откликнулся">Откликнулся</mat-chip-option>
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>Статус кандидата</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="status">
          @for (status of statusTypes; track $index) {
            <mat-chip-option [value]="status">{{ status }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>Источник</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="source">
          @for (source of sourceTypes; track $index) {
            <mat-chip-option [value]="source">{{ source }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>По дате добавления</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="added_period">
          @for (addedPeriod of addedPeriodTypes; track $index) {
            <mat-chip-option [value]="addedPeriod">{{ addedPeriod }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z">
        <mat-expansion-panel-header>Тип добавления</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="added_type">
          @for (addedType of addedTypes; track $index) {
            <mat-chip-option [value]="addedType">{{ addedType }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>
    </div>
  </form>
</app-filter>

<div class="py-8 px-4 w-full h-full">
  <div class="flex gap-3">
    <app-search-input
      class="w-[380px]"
      placeholder="ФИО, почта и тег"
      [formControl]="searchValue"
      (onSearch)="onSearch()">
    </app-search-input>
    <app-filter-toggle #toggleFilter />
  </div>

  <div class="w-full mt-4 bg-white rounded-3xl" style="height: calc(100vh - 150px)">
    <div class="flex justify-between items-center p-6 pb-4">
      <div class="flex gap-6">
        <h2 class="text-[22px]">Кандидаты</h2>
        @if (selectedApplicants.length > 0) {
          <div class="dropdown-chip" [matMenuTriggerFor]="filterCandidateContent">
            <span>Действия</span>
            <mat-icon class="!text-[16px] !w-4 !h-4">arrow_drop_down</mat-icon>
          </div>
          <mat-menu #filterCandidateContent="matMenu">
            <button mat-menu-item (click)="openRejectCandidateModal(selectedApplicants)">Отклонить</button>
            <button mat-menu-item [disabled]="!selectedSameVacancy" (click)="openChangeStageModal(selectedApplicants)">Перевести на этап</button>
          </mat-menu>
        }
      </div>
      <div class="flex gap-7">
        <button mat-flat-button class="btn-secondary" (click)="exportXls()">
          <mat-icon svgIcon="article-shortcut" />
          Выгрузить в Excel
        </button>
        <button mat-flat-button class="btn-secondary" (click)="openAddApplicantModal()">
          <mat-icon>add</mat-icon>
          Добавить кандидата
        </button>
      </div>
    </div>
    <ag-grid-angular [gridOptions]="gridOptions" class="ag-theme-material h-[800px] w-full'" />
  </div>
</div>
