<app-filter [opened]="toggleFilter.checked">
  <form [formGroup]="filterForm">
    <div class="flex items-center justify-between w-full pl-5 pr-4 pb-4">
      <h3 class="text-[22px] leading-7">Фильтр</h3>
      <div class="flex gap-2">
        <button mat-icon-button class="btn-secondary">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleFilter.checked = !toggleFilter.checked" class="btn-secondary">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="w-full">
      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Образование</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked max-h-[200px] overflow-y-scroll" formControlName="education">
          @for (education of educationTypes; track $index) {
            <mat-chip-option [value]="education">{{ education }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Навыки</mat-expansion-panel-header>
        <mat-form-field class="w-full" appearance="outline" floatLabel="always">
          <mat-label>Поиск</mat-label>
          <input matInput [formControl]="searchSkill" />
          <mat-icon matPrefix svgIcon="search"></mat-icon>
        </mat-form-field>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked max-h-[200px] overflow-y-scroll" formControlName="skills">
          <mat-chip-option [value]="''">Все</mat-chip-option>
          @for (skill of skillsTypes; track $index) {
            <mat-chip-option [value]="skill">{{ skill }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z" expanded>
        <mat-expansion-panel-header>Опыт</mat-expansion-panel-header>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked max-h-[200px] overflow-y-scroll" formControlName="experience">
          <mat-chip-option [value]="''">Все</mat-chip-option>
          @for (experience of experienceTypes; track $index) {
            <mat-chip-option [value]="experience">{{ experience }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-expansion-panel>
    </div>
  </form>
</app-filter>

<div class="py-8 px-4 w-full h-full">
  <div class="flex gap-3">
    <app-search-input
      class="w-[380px]"
      placeholder="ФИО, почта и тег"
      [(ngModel)]="searchValue"
      (onSearch)="onSearch()">
    </app-search-input>
    <app-filter-toggle #toggleFilter />
  </div>

  <div class="w-full mt-4 bg-white rounded-3xl">
    <div class="flex justify-between items-center p-6 pb-4">
      <h2 class="text-[22px]">Кандидаты</h2>
      <div class="flex gap-7">
        <button mat-flat-button class="btn-secondary">
          <mat-icon svgIcon="article-shortcut" />
          Выгрузить в Excel
        </button>
        <button mat-flat-button class="btn-secondary" (click)="openAddApplicantModal()">
          <mat-icon>add</mat-icon>
          Добавить кандидата
        </button>
      </div>
    </div>
    <ag-grid-angular [gridOptions]="gridOptions" class="ag-theme-material h-[800px] w-full'" />
  </div>
</div>
