:host {
  @apply flex;
}

.ag-theme-material {
  --ag-border-radius: 24px;
  --ag-row-height: 88px;
  --ag-selected-row-background-color: transparent;
}

.dropdown-chip {
  @apply flex justify-center items-center rounded-lg gap-2 px-2 py-1 border border-[var(--text-alter)] cursor-pointer;
  @apply text-[14px] text-[var(--on-surface)] leading-5 text-center font-medium;
}

.dropdown-chip:hover, .dropdown-chip:focus {
  @apply border-[var(--text-main)] text-[var(--text-main)];
}

app-filter {
  min-height: auto !important;
  max-height: none !important;
}

mat-expansion-panel .overflow-y-scroll,
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #D9D9D9 #F5F5F5;
}

mat-expansion-panel .overflow-y-scroll::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

mat-expansion-panel .overflow-y-scroll::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 2px;
}

mat-expansion-panel .overflow-y-scroll::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 2px;
}

mat-expansion-panel .overflow-y-scroll::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #BDBDBD;
}

::ng-deep .ag-header-cell-label {
  display: flex;
  justify-content: space-between; /* Pushes the first child (text) to the start and the last child (sort icons) to the end */
  width: 100%; /* Ensure it takes up the full width of the cell */
}

.badge {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  height: 20px;
  border-radius: 100px;
  background-color: #f57c00;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  color: white;
}



