// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other ui in your app.
@import "assets/styles/vars";
@import "assets/styles/theme";
@import "assets/styles/normalize";
// AG Data Grid CSS
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-material.css';
// Quill Editor
@import 'quill/dist/quill.snow.css';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$hr-platform-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @include mat.all-component-themes($hr-platform-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($hr-platform-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($hr-platform-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//fix: Material input floating label outline bug
//more info: https://github.com/angular/components/issues/26102
.mdc-notched-outline__notch {
  border-right: none;
}

@layer utilities {
  .description-dots {
    span:not(:last-child):after {
      @apply ml-2;
      content: '•';
    }
  }
}

//material flat-button styles

button[mat-flat-button].btn-primary,
a[mat-flat-button].btn-primary {
  --mdc-filled-button-label-text-color: var(--background-alter);
  --mdc-filled-button-container-color: var(--link-default);
}

button[mat-flat-button].btn-secondary,
a[mat-flat-button].btn-secondary {
  --mdc-filled-button-label-text-color: var(--link-default);
  --mdc-filled-button-container-color: var(--background-main);
  --mat-filled-button-state-layer-color: var(--link-hover);
}

button[mat-flat-button].btn-danger,
a[mat-flat-button].btn-danger {
  --mdc-filled-button-label-text-color: var(--background-alter);
  --mdc-filled-button-container-color: var(--error-alter);
  --mat-filled-button-state-layer-color: var(--link-hover);
}

button[mat-flat-button].btn-secondary-red,
a[mat-flat-button].btn-secondary-red {
  --mdc-filled-button-label-text-color: var(--error-alter);
  --mdc-filled-button-container-color: var(--status-color-danger-bg);
  --mat-filled-button-state-layer-color: var(--error-alter);
}

//material button styles

button[mat-button].btn-primary,
a[mat-button].btn-primary {
  --mdc-text-button-label-text-color: var(--link-default);
  --mdc-text-button-container-color: var(--background-alter);
}

button[mat-button].btn-danger,
a[mat-button].btn-danger {
  --mdc-text-button-label-text-color: var(--status-color-danger-text);
  --mat-text-button-ripple-color: var(--status-color-danger-bg);
  --mat-text-button-state-layer-color: var(--status-color-danger-text);
}

//material icon-button styles

button[mat-icon-button].btn-primary,
a[mat-icon-button].btn-primary {
  --mdc-icon-button-icon-color: var(--link-default);
  --mat-icon-button-state-layer-color: var(--link-hover);
}

button[mat-icon-button].btn-secondary,
a[mat-icon-button].btn-secondary {
  --mdc-icon-button-icon-color: var(--text-main);
  --mat-icon-button-state-layer-color: var(--link-hover);
}

button[mat-icon-button].btn-danger,
a[mat-icon-button].btn-danger {
  --mdc-icon-button-icon-color: var(--status-color-danger-text);
  --mat-icon-button-state-layer-color: var(--status-color-danger-text);
  --mat-icon-button-ripple-color: var(--status-color-danger-bg);
}

//material-menu

:root {
  --mat-menu-container-shape: 12px;
  --mat-menu-container-color: white;
  --mat-menu-item-label-text-color: var(--text-main);
  --mat-menu-item-icon-color: var(--text-main);

  --mat-menu-item-focus-state-layer-color: var(--background-main);
  --mat-menu-item-hover-state-layer-color: var(--background-main);
}

//material-chips

mat-chip-listbox {
  --mdc-chip-elevated-selected-container-color: var(--link-default);
  --mdc-chip-selected-label-text-color: var(--background-alter);
  --mdc-chip-label-text-color: var(--text-main);
  --mdc-chip-outline-color: var(--link-disabled);

  .mdc-evolution-chip__text-label {
    @apply justify-center items-center;
  }

  .chip-number {
    @apply inline-flex justify-center items-center min-w-5 h-5 rounded-full text-[11px] leading-4 bg-[var(--link-default)] text-white pt-0.5 pr-0.5 pl-0.5;
  }

  .mat-mdc-chip-selected .chip-number {
    @apply bg-white text-[var(--link-default)];
  }
}

//material-input

.mat-mdc-form-field {
  --mdc-outlined-text-field-focus-outline-color: var(--link-default);
  --mdc-outlined-text-field-focus-label-text-color: var(--link-default);
  --mdc-outlined-text-field-caret-color: var(--link-default);
}

//material-tabs

.mat-mdc-tab {
  --mat-tab-header-active-label-text-color: var(--link-default);
  --mat-tab-header-active-focus-label-text-color: var(--text-main);
  --mat-tab-header-active-hover-label-text-color: var(--text-main);

  --mat-tab-header-inactive-label-text-color: var(--text-alter);
  --mat-tab-header-inactive-focus-label-text-color: var(--text-main);
  --mat-tab-header-inactive-hover-label-text-color: var(--text-main);

  --mdc-tab-indicator-active-indicator-color: var(--link-default);
  --mat-tab-header-active-focus-indicator-color: var(--link-default);
  --mat-tab-header-active-hover-indicator-color: var(--link-default);

  --mdc-tab-indicator-active-indicator-height: 3px;
  --mdc-tab-indicator-active-indicator-shape: 5px 5px 0 0;
}

//material-calendar

.mat-datepicker-content {
  --mat-datepicker-calendar-container-text-color: var(--text-main);
  --mat-datepicker-calendar-date-text-color: var(--text-main);
  --mat-datepicker-calendar-period-button-text-color: var(--text-main);
  --mat-datepicker-calendar-period-button-icon-color: var(--text-main);
  --mat-datepicker-calendar-navigation-button-icon-color: var(--text-main);
  --mat-datepicker-calendar-header-text-color: var(--text-main);
  --mat-datepicker-calendar-body-label-text-color: var(--text-main);
  --mat-datepicker-calendar-container-background-color: var(--background-main);
  --mat-datepicker-calendar-date-selected-state-background-color: var(--link-default);
  --mat-datepicker-calendar-date-today-outline-color: var(--link-default);
  --mat-datepicker-calendar-date-preview-state-outline-color: var(--link-default);
  --mat-datepicker-calendar-date-in-range-state-background-color: var(--status-color-info-bg);
  --mat-datepicker-calendar-date-today-selected-state-outline-color: var(--background-alter);

  .mat-calendar-body-label {
    @apply invisible;
  }
  .mat-calendar-body-label[colspan="7"] {
    @apply hidden;
  }
}

//material select, autocomplete, option

.cdk-overlay-pane:has(.fit-content.mat-mdc-select-panel) {
  @apply min-w-fit;
}

mat-select {
  --mat-select-enabled-arrow-color: var(--text-main);
  --mat-select-focused-arrow-color: var(--link-default);
}

.mat-mdc-select-panel {
  --mat-select-panel-background-color: white;
  --mat-select-container-shape: 16px;
  --mat-select-container-elevation-shadow:
  0px 1px 2px 0px rgba(0, 0, 0, 0.3),
  0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: var(--mat-select-container-shape) !important;
}

.mat-mdc-autocomplete-panel {
  --mat-autocomplete-background-color: white;
  --mat-autocomplete-container-shape: 16px;
  --mat-autocomplete-container-elevation-shadow:
  0px 1px 2px 0px rgba(0, 0, 0, 0.3),
  0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: var(--mat-autocomplete-container-shape) !important;
}

.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel,
.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  @apply mt-2;
}
.mat-mdc-autocomplete-panel-above div.mat-mdc-autocomplete-panel,
.mat-mdc-select-panel-above div.mat-mdc-select-panel {
  @apply mb-2;
}

mat-option {
  --mat-option-focus-state-layer-color: var(--background-main);
  --mat-option-hover-state-layer-color: var(--background-alter);
}

mat-option:hover {
  color: var(--link-default);
}


::-webkit-scrollbar {
  width: 28px;
}

::-webkit-scrollbar-thumb {
  border: 9px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 50px;
  min-height: 70px;
  background-color: var(--scrollbar-thumb);
  cursor: pointer;
}


//material snackbar

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-shape: 12px;
  &.snackbar-primary {
    --mdc-snackbar-container-color: var(--status-color-success-text);
    --mat-mdc-snack-bar-button-color: var(--background-main);
    --mdc-snackbar-supporting-text-color: var(--background-alter);
    --mdc-snackbar-container-shape: 12px;
  }
  &.snackbar-danger {
    --mdc-snackbar-container-color: var(--error-alter);
    --mat-mdc-snack-bar-button-color: var(--background-main);
    --mdc-snackbar-supporting-text-color: var(--background-alter);
  }
  &.snackbar-warning {
    --mdc-snackbar-container-color: var(--status-color-warning-text);
    --mat-mdc-snack-bar-button-color: var(--background-main);
    --mdc-snackbar-supporting-text-color: var(--background-alter);
  }
  &.snackbar-info {
    --mdc-snackbar-container-color: var(--status-color-info-text);
    --mat-mdc-snack-bar-button-color: var(--background-main);
    --mdc-snackbar-supporting-text-color: var(--background-alter);
  }
}

//ag-grid

.ag-theme-material {
  --ag-font-size: 14px;
  --ag-header-height: 68px;
  --ag-range-selection-border-color: transparent;
  --ag-row-hover-color: var(--background-alter);
  --ag-column-hover-color: var(--background-alter);
  --ag-header-cell-hover-background-color: var(--background-alter);
  --ag-header-foreground-color: var(--text-alter);
  --ag-foreground-color: var(--text-main);
  --ag-material-accent-color: var(--link-default);
  --ag-checkbox-unchecked-color: var(--on-surface);
  --ag-borders-critical: 0px;
  --ag-row-border-width: 0px;

  // .ag-cell {
  //   border-bottom: none;
  //   border-top: none;
  // }

  .ag-header {
    border-bottom: 2px solid #e2e2e2;
  }
}

//quill-editor

quill-editor {
  .ql-toolbar.ql-snow {
    @apply border-[var(--outline)] rounded-t;
  }
  .ql-container.ql-snow {
    @apply border-[var(--outline)] rounded-b text-[16px] leading-6;
  }

  .ql-snow .ql-stroke {
    @apply stroke-[var(--text-main)];
  }
}


//=======радио баттон=====
:root {
  --mdc-radio-state-layer-size: 40px;
  --mdc-radio-state-layer-radius: 50%;
  --mdc-radio-disabled-selected-icon-opacity: 0.38;
  --mdc-radio-disabled-unselected-icon-opacity: 0.38;
  --mdc-radio-unselected-focus-icon-color: var(--mdc-radio-unselected-icon-color, rgba(0, 0, 0, 0.54));
  --mdc-radio-unselected-hover-icon-color: var(--mdc-radio-unselected-icon-color, rgba(0, 0, 0, 0.54));
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: var(--mdc-radio-unselected-icon-color, rgba(0, 0, 0, 0.54));
  --mdc-radio-selected-focus-icon-color: var(--link-default);
  --mdc-radio-selected-hover-icon-color: var(--link-default);
  --mdc-radio-selected-icon-color: var(--link-default);
  --mdc-radio-selected-pressed-icon-color: var(--link-default);

  //=====свич===
  --mdc-switch-selected-handle-color: #ffffff;
  --mdc-switch-selected-track-color: #5066B3;
  --mdc-switch-unselected-handle-color: #b2b2b2;
  --mdc-switch-unselected-track-color: rgba(59, 59, 59, 0.1);
  --mdc-switch-selected-hover-handle-color: #ffffff;
  --mdc-switch-selected-hover-track-color: #5066B3;
  --mdc-switch-selected-focus-handle-color: #ffffff;
  --mdc-switch-selected-focus-track-color: #5066B3;
  --mdc-switch-selected-pressed-handle-color: #ffffff;
  --mdc-switch-selected-pressed-track-color: #5066B3;

  --mdc-switch-unselected-focus-handle-color: #b2b2b2;
  --mdc-switch-unselected-focus-track-color: rgba(59, 59, 59, 0.1);

  //чекбокс

  --mat-checkbox-ripple-radius: 0;
  --mdc-checkbox-state-layer-size: 0;
  --mdc-checkbox-state-layer-radius: 0;
  --mdc-checkbox-ripple-opacity: 0;
  --mdc-checkbox-container-opacity: 1;
  --mat-ripple-color: transparent;
  --mat-ripple-opacity: 0;

  --mdc-checkbox-selected-checkmark-color: #ffffff;
  --mdc-checkbox-selected-focus-icon-color: var(--link-default);
  --mdc-checkbox-selected-focus-state-layer-color: transparent;
  --mdc-checkbox-selected-focus-state-layer-opacity: 0;
  --mdc-checkbox-selected-hover-icon-color: var(--link-default);
  --mdc-checkbox-selected-hover-state-layer-color: transparent;
  --mdc-checkbox-selected-hover-state-layer-opacity: 0;
  --mdc-checkbox-selected-icon-color: var(--link-default);
  --mdc-checkbox-selected-pressed-icon-color: var(--link-default);
  --mdc-checkbox-selected-pressed-state-layer-color: transparent;
  --mdc-checkbox-selected-pressed-state-layer-opacity: 0;

  --mdc-checkbox-unselected-focus-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-focus-state-layer-color: transparent;
  --mdc-checkbox-unselected-focus-state-layer-opacity: 0;
  --mdc-checkbox-unselected-hover-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-hover-state-layer-color: transparent;
  --mdc-checkbox-unselected-hover-state-layer-opacity: 0;
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-state-layer-color: transparent;
  --mdc-checkbox-unselected-pressed-state-layer-opacity: 0;


  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--link-default);
  }

  .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label {
    color: var(--link-default);
  }

}
.mat-mdc-radio-button {
  .mdc-radio__background::before,
  .mat-mdc-radio-ripple,
  .mat-mdc-radio-touch-target,
  .mat-ripple {
    display: none !important;
  }

  .mdc-radio__native-control,
  .mdc-radio__inner-circle,
  .mdc-radio__outer-circle {
    transition: none !important;
    animation: none !important;
  }
}

.survey-modal-overlay {
  position: static !important;
  margin: auto;
}

//========тоггл====

.mat-slide-toggle .mdc-switch__icon,
.mdc-switch__icon--on,
.mdc-switch__icon--off,
.mat-slide-toggle svg {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  position: absolute !important;
  pointer-events: none !important;
}

.mat-mdc-slide-toggle
  .mdc-switch--unselected
  .mdc-switch__handle:has(.mdc-switch__icons) {
  width: 16px !important;
  height: 16px !important;
  margin-left: 7px !important;
}

//==================

//=====
.survey-modal-overlay {
  position: static !important;
  margin: auto;
}
.cdk-overlay-container:has(.survey-modal-overlay) .cdk-global-overlay-wrapper {
  position: fixed !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
