// Файл с CSS переменными, на будущее если будет планироваться внедрение тем
// просто переопределять переменные в зависимости от темы
:root {
  --text-main: #111826;
  --text-alter: #625B71;
  --link-default: #5368A6;
  --link-hover: #5B74BF;
  --link-active: #475A93;
  --link-disabled: #D9D9D9;
  --background-main: #F0F4F9;
  --background-alter: #F8FBFF;
  --overlay: rgba(237, 240, 245, 0.6);
  --error: #B3261E;
  --error-alter: #E23329;
  --on-surface: #49454F;
  --outline: #79747E;
  
  --notification-color-bg: #FF6A00;
  --notification-color-text: white;

  --status-color-success-text: #00701F;
  --status-color-success-bg: #00C43714;
  --status-color-danger-text: #FF3700;
  --status-color-danger-bg: #FF00001A;
  --status-color-warning-text: #B78E27;
  --status-color-warning-bg: #FFB80014;
  --status-color-default-text: #707783;
  --status-color-default-bg: #00000014;
  --status-color-info-text: #0B57D0;
  --status-color-info-bg: #E8F1FC;
}

