
.survey-card {
width: 748px;
  height: 85vh;
  margin: auto;
  padding: 64px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.survey-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 32px;
}

.scroll-container {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 14px;
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
}

.question {
  font-size: 24px;
  font-weight: lighter;

}

.subtext {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 8px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
  display: block;
  margin-bottom: 16px;
}

.toggle-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 18px 0 ;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.white-bg textarea.mat-input-element {
  background-color: white !important;
  color: black !important;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

label {
  font-size: 16px;
  font-weight: 500;
}

.custom-textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  resize: vertical;
  background-color: white;
  color: black;
}

.custom-textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



