<!-- Контейнер с фото и кнопкой -->
<div class="flex justify-between items-center mt-6">
  <div class="flex items-center gap-4">
    <!-- Контейнер для фото -->
    <div class="photo-upload relative cursor-pointer w-20 h-20 rounded-full overflow-hidden mb-2"
         (click)="fileInput.click()">
      @if (userPhotoPreview) {
        <img [src]="userPhotoPreview" alt="Фото профиля" class="w-full h-full object-cover">
      } @else if (userPhoto) {
        <img [src]="userPhoto" alt="Фото профиля" class="w-full h-full object-cover">
      } @else {
        <div class="w-full h-full flex items-center justify-center bg-gray-200 rounded-full">
          <mat-icon class="text-[var(--link-default)]" svgIcon="add-a-photo" />
        </div>
      }

      <!-- Скрытый input для загрузки фото -->
      <input #fileInput type="file" (change)="uploadPhoto($event)" hidden accept="image/*">
    </div>

  </div>
  <button mat-flat-button class="btn-secondary" (click)="openChangePasswordModal()">Изменить пароль</button>
</div>


<!-- Форма -->
<form [formGroup]="profileForm">
  <div class="mt-6 grid grid-cols-3 gap-x-4 gap-y-2">
    <mat-form-field appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="last_name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Должность</mat-label>
      <mat-select formControlName="job_title_id" (focus)="loadAllJobTitles()" (selectionChange)="jobTitleSelectionChange($event.value)" hideSingleSelectionIndicator>
        @if (jobTitles.length === 0 && isJobTitlesLoading) {
          <mat-option disabled>Загрузка должностей...</mat-option>
        } @else if (jobTitles.length === 0 && !isJobTitlesLoading) {
          <mat-option disabled>Должности не найдены</mat-option>
        } @else {
          @for (jobTitle of jobTitles; track jobTitle.id) {
            <mat-option [value]="jobTitle.id">{{ jobTitle.name }}</mat-option>
          }
        }
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Телефон</mat-label>
      <input matInput formControlName="phone_number"
             placeholder="+7 (___) ___-__-__"
             maxlength="18" />
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Внутренний номер</mat-label>
      <input matInput formControlName="internal_phone_number"/>
    </mat-form-field>

  </div>

  <!-- Переключатель "Персональная подпись" -->
  <div class="flex items-center mt-2">
    <mat-slide-toggle formControlName="use_personal_sign" class="mr-2 mat-mdc-slide-toggle"></mat-slide-toggle>
    <span class="text-gray-500 text-sm">Персональная подпись</span>
    <div class="relative ml-2">
      <div class="circle-icon">
        <span class="question-mark">?</span>
      </div>
      <div class="tooltip hidden absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 p-2 text-white bg-black rounded text-xs">
        {{ profileForm.get('use_personal_sign')?.value ? 'Персональная подпись активирована' : 'Включите для использования персональной подписи' }}
      </div>
    </div>
  </div>





  <!-- Текстовое поле с редактором -->
  <div class="mt-4 w-full">
    <mat-label>Текст подписи</mat-label>
    <app-text-editor
      formControlName="text_sign"
      class="w-full h-60"
      ></app-text-editor>
  </div>

  <!-- Кнопка "Сохранить" -->
  <div class="mt-4">
    <button
      mat-flat-button
      class="btn-primary"
      (click)="saveProfile()"
      [disabled]="profileForm.invalid || profileForm.pristine ">
      Сохранить
    </button>


  </div>
</form>
