.photo-upload {
  width: 56px;
  height: 56px;
  background-color: var(--background-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--background-alter);
  }
}
.circle-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #6b7280;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #6b7280;
}

.circle-icon .question-mark {
  font-size: 12px;
}

.tooltip {
  display: none;
}

.circle-icon:hover + .tooltip {
  display: block;
}


.tooltip {
  display: none;
  height: 30px;
  white-space: nowrap;
  padding: 5px 10px;
}

.circle-icon:hover + .tooltip {
  display: block;
}

mat-option {
  --mat-option-focus-state-layer-color: transparent;
  --mat-option-hover-state-layer-color: transparent;
}

mat-option:hover {
  color: black !important; /* Use !important if necessary to override specificity */
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: transparent;
}