<mat-icon class="!w-[54px] !h-16 mb-9" svgIcon="hr"></mat-icon>
<div class="bg-[white] mt-10 md:mt-0 flex justify-center items-stretch flex-col min-w-full md:min-w-[688px] md:py-16 md:rounded-[28px]">
  <p class="text-[2rem] leading-10 lg:text-[45px] lg:leading-[52px] text-center m-0 p-0">Введите новый пароль</p>
  <div class="flex justify-start items-center flex-col mt-8 md:mt-6">
    @if (form) {
      <div [formGroup]="form" class="flex items-center flex-col w-full box-border">
        <app-text-input
          [type]="isPasswordVisible ? 'text' : 'password'"
          label="Новый пароль"
          class="w-full md:w-[400px] mb-4 relative block"
          formControlName="password"
          [showError]="form.get('password')!.invalid && !form.get('password')!.untouched"
        >
          <button
            type="button"
            (click)="isPasswordVisible = !isPasswordVisible"
            class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center text-gray-500 hover:text-gray-700"
            tabindex="-1"
          >
            <mat-icon 
              [svgIcon]="isPasswordVisible ? 'show-eye' : 'hide-eye'" 
              class="password-toggle-icon"
            ></mat-icon>
          </button>

          @if (form.get('password')!.invalid && !form.get('password')!.untouched) {
            <span class="absolute right-8 top-1 w-12 h-12 flex justify-center items-center pointer-events-none">
              <mat-icon svgIcon="error"></mat-icon>
            </span>
          }
        </app-text-input>
        <app-text-input
          [type]="isConfirmPasswordVisible ? 'text' : 'password'"
          label="Повторите пароль"
          class="w-full md:w-[400px] relative block"
          formControlName="password_confirm"
          [showError]="form.get('password_confirm')!.invalid && !form.get('password_confirm')!.untouched"
        >
          <button
            type="button"
            (click)="isConfirmPasswordVisible = !isConfirmPasswordVisible"
            class="absolute right-0 top-1 w-12 h-12 flex justify-center items-center text-gray-500 hover:text-gray-700"
            tabindex="-1"
          >
            <mat-icon 
              [svgIcon]="isConfirmPasswordVisible ? 'show-eye' : 'hide-eye'" 
              class="password-toggle-icon"
            ></mat-icon>
          </button>

          @if (form.get('password_confirm')!.invalid && !form.get('password_confirm')!.untouched) {
            <span class="absolute right-8 top-1 w-12 h-12 flex justify-center items-center pointer-events-none">
              <mat-icon svgIcon="error"></mat-icon>
            </span>
          }
        </app-text-input>
        <button
          class="mt-4"
          mat-flat-button
          [disabled]="form.invalid"
          (click)="resetPassword()"
        >Сохранить
        </button>
      </div>
    }
  </div>
</div>

