:host {
  @apply px-4 pt-44 flex flex-col items-center md:w-screen md:h-screen md:bg-[var(--background-main)] relative
}

.password-toggle-icon {
  width: 22px !important;
  height: 22px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.password-toggle-icon ::ng-deep svg {
  width: 100% !important;
  height: 100% !important;
  transform: scale(1.55);
}